{% extends "base_accounts.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block page_title %}{% trans "Sign in Pillango" %}{% endblock %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block image_bg %} {% static 'images/pexels-photo-121500.jpeg' %} {% endblock %}

{% block content %}
<div class="padding_landing">
  <div class="row ">
      <div class="col m6"></div>
      <div class="col m5">
        <div class="row">
          <div class="col s12 m12">
            <div class="card-panel grey lighten-5">
                <h4 class="light">{% trans "Sign In" %}</h4 class="light">

                {% get_providers as socialaccount_providers %}

                {% if socialaccount_providers %}
                <!-- <p>{% blocktrans with site.name as site_name %}Please sign in with one
                of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
                for a {{ site_name }} account and sign in below:{% endblocktrans %}</p> -->

                <div class="socialaccount_ballot">

                  <ul class="socialaccount_providers">
                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                  </ul>

                  <div class="login-or">{% trans 'or' %}</div>

                </div>

                {% include "socialaccount/snippets/login_extra.html" %}

                {% else %}
                <!-- <p>{% blocktrans %}If you have not created an account yet, then please
                <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p> -->
                {% endif %}

                <form class="login" method="POST" action="{% url 'account_login' %}" class="black-text" id="login_form">
                  {% csrf_token %}
                    {{ form.as_p }}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <a class="button secondaryAction grey-text text-darken-2" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                  <div class="row">
                    <div class="col m9"></div>
                    <div class="col m3">
                      <button class="primaryAction btn right-align" type="submit" id="submit_button">{% trans "Sign In" %}</button>
                    </div>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}

{% block alt_js %}
<script type="text/javascript">

  $(document).ready(function(){

    $("#submit_button").click(function() {
      console.log("Holaaaaaa")
      $('.primaryAction').addClass("disabled");
    });


    // .submit(function( event ) {
    //   console.log("Holaaaaaa")
    //   $('.primaryAction').addClass("disabled");
    //   alert( "Handler for .submit() called." );
    //   event.preventDefault();
    // });

      // $(".primaryAction").click(function() {
      //   console.log("Holaaaaaa")
      //   $('.primaryAction').addClass("disabled");
      // })

  });


</script>
{% endblock alt_js %}