{% extends "base_accounts.html" %}
{% load static %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block image_bg %} {% static 'images/man-sunglasses-art-graffiti.jpg' %} {% endblock %}

{% block content %}

<div class="">
  <div class="row padding_top">
      <div class="col m7"></div>
      <div class="col m5">
        <div class="row">
          <div class="col s12 m12">
            <div class="card-panel grey lighten-5">
                <h4 class="light">{% trans "Password Reset" %}</h4 class="light">
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="{% trans 'Reset My Password' %}" class="btn"/>
                </form>

                <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}
