<section class="section">
	<nav class="level">
	  <div class="level-item has-text-centered">
	    <div>
	      <p class="heading">Auctions</p>
	      <p class="title">3,456</p>
	    </div>
	  </div>
	  <div class="level-item has-text-centered">
	    <div>
	      <p class="heading">Loans</p>
	      <p class="title">456K</p>
	    </div>
	  </div>
	  <div class="level-item has-text-centered">
	    <div>
	      <p class="heading">Users</p>
	      <p class="title">89K</p>
	    </div>
	  </div>
	</nav>
</section>