{% load staticfiles %}

.tabs .indicator {
    color: #9e9e9e;
    background-color: #9e9e9e;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px;
  color: #333;
  text-align: center;
  z-index: 1000;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}​



/*====================================================*/

.back_lecture {
  background-color: rgba(120,120,120,0.2);
  padding: 20px;
}
[type="checkbox"]+label:before, [type="checkbox"]:not(.filled-in)+label:after {
/*  width: 50px;
  padding-left: 30px;
  padding-bottom: 40px;*/
}

#map { height: 250px; }

.parallax img {
    width: 80%;
}

.no-margin-top {
  margin-top: 0px;
}

#total {
    width: 105%;
}

.border-white {
  border: 1px solid !important;
}

.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 36px;
    height: 36px;
    padding: 8px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 32px Arial, sans-serif;
}

.background_grey {
  background-color: rgb(237, 243, 249)
}
.wrap_register {
  background: url("../images/register.jpg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    padding: 5em 0em 10em 3em;
    min-height: 43em;
    color: black;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.carousel-slider {
      height: 500px;
}
.parallax-container {
      height: 500px;
}

.positioning {
  position: fixed;
  overflow: visible;
  top: 10px;
  right: 10px;
}

.top-left {
  position: fixed;
  overflow: visible;
  top: 10px;
  left: 10px;
}

.italic {
    font-style: italic;
}

.light_pers {
  font-weight: 300;
}

.pad_top {
  margin-top: 5rem;
}

.padding_full {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.carousel {
  height: auto;
}

.padding_title {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.padding_landing {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.nav-wrapper .brand-logo img {
    height: 64px;
}

.modal
{
    opacity:0.95 !important;
}

body {
  color: grey;
}

.errorlist {
  color: red;
}
/* ==============================================
   Team profiles
   ============================================== */
.profiles {
  margin-bottom: -20px;
}
.intro {
  margin-top: 100px;
  padding-left: 140px;
}
.intro h2 {
  margin: 0 0 7px;
}
.intro .lead {
  line-height: 120%;
  font-size: 1.1em;
  font-style: italic;
  margin: 0 0 35px;
}
.profile {
  position: relative;
  margin: 0 0 20px;
}
.profile:nth-child(even) {
  clear: left;
}

.profile-header {
  position: absolute;
  top: 0;
}
.profile-header img {
  float: left;
}
.profile-content {
  font-size: 14px;
  padding: 27px 20px 0 0;
  line-height: 1.4em;
  margin: 0 0 0 125px;
}
.profile-content h3 {
  margin: 0;
}
.profile-content .lead {
  font-size: 1.3em;
  line-height: 100%;
  font-style: italic;
  margin: 3px 0 20px;
}
.profile-content:before {
  content: '';
  width: 36px;
  height: 3px;
  background: #dededc;
  position: absolute;
  top: 0;
}
.profile-content p {
  margin: 0 0 10px;
}
.profile-footer {
  position: absolute;
  top: 121px;
  width: 100px;
  text-align: center;
}
.profile-footer a {
  line-height: 18px;
  margin: 0 3px;
  display: inline-block;
}
.profile-footer a:hover i {
  color: #595959;
}
.profile-footer a:active i {
  color: #000;
}
.profile-footer i {
  font-size: 18px;
  position: relative;
}
.profile-footer i.icon-envelope {
  font-size: 16px;
  top: -1px;
}
.profile-footer i.icon-linkedin {
  font-size: 16px;
  top: -1px;
}

.padding_spaces {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*************************************
**** Button ********
*************************************/

.myButton {
  background-color:transparent;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  border-radius:20px;
  border:3px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#635a63;
  font-size:19px;
  padding:20px 40px;
  text-decoration:none;
  text-shadow:0px 4px 13px #2f6627;
}
.myButton:hover {
  background-color:transparent;
}
.myButton:active {
  position:relative;
  top:1px;
}

/************************
 ---     Button     ---
/***********************/

.service-item {
  text-align: center;
  margin-top: 40px;
  display:inline-block;
}

.service-item h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  margin-top: 25px;
}

.icon i {
  border-radius: 50%;
  border: 20px solid #f55858;
  color: #f55858;
  font-size: 28px;
  line-height: 80px;
  width: 120px;
  height: 120px;
}

.icon i:hover {
  border-radius: 50%;
  border: 20px solid #52BF3F;
  color: #52BF3F;
  font-size: 28px;
  line-height: 80px;
  width: 120px;
  height: 120px;
}

.icon_blanc i {
  border-radius: 50%;
  border: 20px solid #fff;
  color: #fff;
  font-size: 28px;
  line-height: 80px;
  width: 120px;
  height: 120px;
}

.icon_blanc i:hover {
  border-radius: 50%;
  border: 20px solid #e1e1e1;
  color: #e1e1e1;
  font-size: 28px;
  line-height: 80px;
  width: 120px;
  height: 120px;
}

/* ------------------------------------------------ */
/* ------------------------------------------------ */
/* ------------------------------------------------ */

// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

@mixin column-count($ct) {
  -webkit-column-count: $ct;
  -moz-column-count: $ct;
  column-count: $ct;
}

.cards-container {
  column-break-inside: avoid;
  .card {
    display: inline-block;
    overflow: visible;
  }
}

@media #{$small-and-down} {
  .cards-container {
    @include column-count(1);
  }
}
@media #{$medium-and-up} {
  .cards-container {
    @include column-count(2);
  }
}
@media #{$large-and-up} {
  .cards-container {
    @include column-count(3);
  }
}


/// Styles for demo
.text-center {
  text-align: center;
}

/* ------------------------------------------------ */

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.top {
  z-index:    1000;
}
.ajax_modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 );
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   ajax_modal element will be visible */
body.loading .ajax_modal {
    display: block;
}
/* ------------------------------------------------ */
/* ------------------------------------------------ */