{% load static %}
{% load i18n %}

<!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="#!">Pills&GOs</a></li>
    <li class="divider"></li>
    <li><a href="#modal3">Logout</a></li>
  </ul>
  <div class="navbar-fixed ">
  <nav class="navbar-transparent" role="navigation">
    <div class="nav-wrapper container">
      <!-- <a id="logo-container" href="{% url 'landing' %}" class="brand-logo"><img src="{% static 'images/pillango_logo.png' %}" alt="Pillango data"></a> -->
      <ul class="right hide-on-med-and-down">
          <!-- Dropdown Trigger -->
          <li><a href="{% url 'landing' %}" class='modal-trigger light'>Home</a></li>
          <li><a href="{% url 'home' %}" rel="" id="anchor1" class="anchorLink modal-trigger light">Pillstore</a></li>
          <li><a href="#about_anchor" rel="" id="anchor3" class="anchorLink modal-trigger light">About</a></li>
          <li><a href="#contact_anchor" rel="" id="anchor4" class="anchorLink modal-trigger light">Contact</a></li>
          <!-- <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{ request.user.username}}<i class="material-icons right">arrow_drop_down</i></a></li> -->
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  </div>