<footer class="page-footer blue-grey lighten-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Contact</h5>
          <p class="grey-text text-darken-4 padding_title"><a class="white-text flow-text" href="mailto:contact@pillangodata.com?Subject=Hello%20Pillango" target="_top">contact@pillangodata.com</a></p>
        </div>
        <div class="col l3 s12">
          
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://twitter.com/pillangodata"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="https://www.linkedin.com/company/10809256?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A10809256%2Cidx%3A2-3-4%2CtarId%3A1465986449790%2Ctas%3Apillango"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a></li>
            <li><a class="white-text" href="#!"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      &copy; Pillangodata 2016 Data & Analytics. All rights reserved
      </div>
    </div>
  </footer>