{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

	<h1 class="header center light">What are you looking for? </h1>

	<div class="row">
		<div class="card col s4">
		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="{% static 'images/dolphins.jpg' %}">
		    </div>
		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">Network B2B<i class="material-icons right">more_vert</i></span>
		      <p><a href="#">Go to the App</a></p>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Where business meets business<i class="material-icons right">close</i></span>
		      <p>Impulsar el crecimiento de los clientes B2B a través de un marketplace inteligente que priorice las potenciales interacciones y anticipe posibilidades de financiación inhouse</p>
		    </div>
		</div>

		<div class="card col s4">
		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="{% static 'images/blackboard.jpg' %}">
		    </div>
		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">Risk management<i class="material-icons right">more_vert</i></span>
		      <p><a href="#">Go to the App</a></p>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Risk management<i class="material-icons right">close</i></span>
		      <p>We are able to display a complete solution for real time real estate portfolio valuation while our predictive models help optimizing portfolio and risk management</p>
		    </div>
		</div>

		<div class="card col s4">
		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="{% static 'images/menacing_face.png' %}">
		    </div>
		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">No toquis res!<i class="material-icons right">more_vert</i></span>
		      <p><a href="#">Go to the App</a></p>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Risk management<i class="material-icons right">close</i></span>
		      <p>We are able to display a complete solution for real time real estate portfolio valuation while our predictive models help optimizing portfolio and risk management</p>
		    </div>
		</div>

	</div>

	<div class="row">
		<div class="card col s4">
		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="{% static 'images/background1.jpg' %}">
		    </div>
		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">Network B2B<i class="material-icons right">more_vert</i></span>
		      <p><a href="#">Go to the App</a></p>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Where business meets business<i class="material-icons right">close</i></span>
		      <p>Impulsar el crecimiento de los clientes B2B a través de un marketplace inteligente que priorice las potenciales interacciones y anticipe posibilidades de financiación inhouse</p>
		    </div>
		</div>

		<div class="card col s4">
		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="{% static 'images/analytics.png' %}">
		    </div>
		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">Risk management<i class="material-icons right">more_vert</i></span>
		      <p><a href="#">Go to the App</a></p>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Risk management<i class="material-icons right">close</i></span>
		      <p>We are able to display a complete solution for real time real estate portfolio valuation while our predictive models help optimizing portfolio and risk management</p>
		    </div>
		</div>

		<div class="card col s4">
		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="{% static 'images/background2.jpg' %}">
		    </div>
		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">No toquis res!<i class="material-icons right">more_vert</i></span>
		      <p><a href="#">Go to the App</a></p>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Risk management<i class="material-icons right">close</i></span>
		      <p>We are able to display a complete solution for real time real estate portfolio valuation while our predictive models help optimizing portfolio and risk management</p>
		    </div>
		</div>

	</div>

	<div class="intro"></div>


{% endblock %}