{% extends "base.html" %}
	{% load staticfiles %}

{% block content %}
	
<img src="{% static 'pillango_blue.png' %}" alt="Pillango"/ class='img-responsive center-block'>
<hr>

<section class="row profiles">
	<div class="intro">
		<!-- <h2>Meet The Team</h2>
		<p class="lead">&ldquo;Individuals can and do make a difference, but it takes a team<br>to really mess things up.&rdquo;</p> -->
	</div>

	<article class="col-sm-6 profile">
		<div class="profile-header">
			<img src="{% static 'home.png' %}" alt="Marketplace" class="img-circle">
		</div>
		
		<div class="profile-content">
			<h3><a href="">Risk management</a></h3>
			<p class="lead position">Risk managment for real estate</p>
			We are able to display a complete solution for real time real estate portfolio valuation while our predictive models help optimizing portfolio and risk management
		</div>
		
		<div class="profile-footer">
			<a href="tel:<?php the_field('team_phone'); ?>"><i class="fa fa-phone" aria-hidden="true"></i></a>
			<a href="mailto:<?php echo antispambot( get_field('team_email') ); ?>"><i class="fa fa-envelope" aria-hidden="true"></i></i></a>
			<a href="<?php echo $twitter; ?>"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			<a href="<?php echo $linkedin; ?>"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
		</div>
	</article><!-- /.profile -->

	<article class="col-sm-6 profile">
		<div class="profile-header">
			<img src="{% static 'network.png' %}" alt="Marketplace" class="img-circle">
		</div>
		
		<div class="profile-content">
			<h3><a href="">Marketplace</a></h3>
			<p class="lead position">Where business meets business</p>
			Impulsar el crecimiento de los clientes B2B a través de un marketplace inteligente que priorice las potenciales interacciones y anticipe posibilidades de financiación inhouse
		</div>
		
		<div class="profile-footer">
			<a href="tel:<?php the_field('team_phone'); ?>"><i class="fa fa-phone" aria-hidden="true"></i></a>
			<a href="mailto:<?php echo antispambot( get_field('team_email') ); ?>"><i class="fa fa-envelope" aria-hidden="true"></i></i></a>
			<a href="<?php echo $twitter; ?>"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			<a href="<?php echo $linkedin; ?>"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
		</div>
	</article><!-- /.profile -->
</section><!-- /.row -->

<div class="intro"></div>

{% endblock %}