{% extends "base.html" %}
{% load staticfiles %}

{% block page_title %}
Our Pillstore
{% endblock %}

{% block body_class %}
background_grey
{% endblock %}

{% block content %}

	<div id="home-banner" class="parallax-container padding_landing height_pillstore" style="height: 20rem !important;">
    <div class="section no-pad-bot">
      <div class="container">
            <h1 class="header center light grey-text text-darken-4 no-margin-top">Welcome to Pillango</h1>
            <h1 class="header center light grey-text text-darken-4">Showroom</h1>
            <div class="row center">
              <h6 class="header light grey-text text-darken-2">Take a look to our app demos</h6>
        	</div>
      </div>
    </div>
    <div class="parallax">
        <img src="{% static 'images/pills_apples3.jpg' %}" id="total" alt="Unsplashed background img 1">
    </div>
  </div>


    <div class="container">
	<h2 class="header center light_pers"></h2>
	<h5 class="header center light_pers"></h5>

	<div class="row">
		<div class="col s12 m4">
		<div class="card blue-grey lighten-1 hoverable">
			<div class="ribbon-wrapper-green"><div class="ribbon-green">NEW</div></div>
		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="{% static 'images/grow-your-business.jpg' %}">
		    </div>
		    <div class="card-content">
		      <span class="card-title activator white-text text-darken-4">Zero line of defense<i class="material-icons right">more_vert</i></span>
		      <div class="card-action">	
		      	<a href="{% url 'empresas:search' %}">Go to the App</a>
		      </div>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Da impulso a tus clientes<i class="material-icons right">close</i></span>
		      <p>Servicio que impulsa el crecimiento y control de riesgos de las PYMES desde la información agregada de sus entidades financieras y el análisis de sus interacciones comerciales</p>
		    </div>
		   </div>
		</div>

		<div class="col s12 m4">
		<div class="card blue-grey lighten-1 hoverable">
			<div class="ribbon-wrapper-green"><div class="ribbon-green">NEW</div></div>
		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="{% static 'images/pencils.png' %}">
		    </div>
		    <div class="card-content">
		      <span class="card-title activator white-text text-darken-4">Risk Robo Advisor<i class="material-icons right">more_vert</i></span>
		      <div class="card-action">	
				<a href="{% url 'risk_cro:cro_home' %}">Go to the App</a>
			  </div>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Plataforma Risk as a Service para las PYMES<i class="material-icons right">close</i></span>
		      <p>Servicio de medición del riesgo para las pymes. Éstas podrán valorar su exposición a los principales riesgo de su negocio y valorar sus necesidades y posibilidades de acceso a financiación.</p>
		    </div>
		</div>
		</div>

		<div class="col s12 m4">
		<div class="card blue-grey lighten-1 hoverable">
			<div class="ribbon-wrapper-green"><div class="ribbon-green">NEW</div></div>
		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="{% static 'images/pexels-photo-226460.jpeg' %}">
		    </div>
		    <div class="card-content">
		      <span class="card-title activator white-text text-darken-4">Marketplace B2B<i class="material-icons right">more_vert</i></span>
		      <div class="card-action">	
				<a href="{% url 'risk_cro:cro_home' %}">Go to the App</a>
				</div>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Encuentra tu socio perfecto<i class="material-icons right">close</i></span>
		      <p>Servicio de recomendación de clientes y proveedores  para las PYMES B2B. Reduce el tiempo (y los costes!) de tus esfuerzos comerciales con nuestro portal de contactos e impulsa tu negocio.</p>
		    </div>
		</div>
		</div>

	</div>

	<div class="row">
		<div class="col s12 m4">
		<div class="card blue-grey lighten-1 hoverable">
			<div class="ribbon-wrapper-green"><div class="ribbon-green">NOT YET</div></div>
		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="{% static 'images/fashion-men-vintage-colorful.jpg' %}">
		    </div>
		    <div class="card-content">
		      <span class="card-title activator white-text text-darken-4">Shopping go<i class="material-icons right">more_vert</i></span>
		      <div class="card-action">	
		      	<a href="{% url 'risk_cro:cro_home' %}">Go to the App</a>
		      </div>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Los descuentos que te encuentran a ti<i class="material-icons right">close</i></span>
		      <p>Servicio de descuentos personalizados. Aprovechamos los patrones de consumo para identificar tus necesidades y ofrecerte los mejores descuentos. Caza las mejores oportunidades!</p>
		    </div>
		   </div>
		</div>

		<div class="col s12 m4">
		<div class="card blue-grey lighten-1 hoverable">
			<div class="ribbon-wrapper-green"><div class="ribbon-green">NOT YET</div></div>
		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="{% static 'images/risk.jpeg' %}">
		    </div>
		    <div class="card-content">
		      <span class="card-title activator white-text text-darken-4">BidLoan<i class="material-icons right">more_vert</i></span>
		      <div class="card-action">	
				<a href="{% url 'risk_cro:cro_home' %}">Go to the App</a>
			  </div>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">La financiación que te encuentra<i class="material-icons right">close</i></span>
		      <p>¿Por qué perder el tiempo en buscadores y comparadores de productos financieros? Describe tu necesidad y generamos una subasta entre las mejores entidades financieras para que puedas cumplir tus sueños (y pagar menos).</p>
		    </div>
		</div>
		</div>

	</div>

	</div>


{% endblock %}