{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="{{STATIC_URL}}pillango_logo.png" type="image/png">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Pillango - Data&Analytics</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="{% static 'css/style.css'  %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/main.css'  %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="#!">Pills&GOs</a></li>
      <li class="divider"></li>
      <li><a href="#modal3">Logout</a></li>
    </ul>

    <div class="navbar-fixed ">
    <nav class="navbar-transparent" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="{% url 'landing' %}" class="brand-logo hidden"><img src="{% static 'images/C--fakepath-pillango_logo.png' %}" alt="Pillango data"></a>
        <ul class="right hide-on-med-and-down">
            <!-- Dropdown Trigger -->
            <li><a href="{% url 'landing' %}" class='modal-trigger grey-text text-lighten-5 light'>Home</a></li>
            <li><a href="{% url 'home' %}" rel="" id="anchor1" class="anchorLink modal-trigger grey-text text-lighten-5 light">Pillstore</a></li>
            <li><a href="#about_anchor" rel="" id="anchor3" class="anchorLink modal-trigger grey-text text-lighten-5 light">About</a></li>
            <li><a href="#contact_anchor" rel="" id="anchor4" class="anchorLink modal-trigger grey-text text-lighten-5 light">Contact</a></li>
            <!-- <li><a class="dropdown-button hidden" href="#!" data-activates="dropdown1">{{ request.user.username}}<i class="material-icons right">arrow_drop_down</i></a></li> -->
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    </div>

  <div id="index-banner" class="parallax-container padding_landing parallax-container-landing">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row">
            <div class="col s6">
              <h1></h1>
            </div>

            <div class="col s6">
              <h1 class="header center light grey-text text-darken-3" style="padding-top: 13rem;">Pillango</h1>
              <div class="row center">
                  <h6 class="header light grey-text text-darken-1">Data&Analytics</h6>
              </div>
              <div class="row center">

                  <a href="{% url 'home' %}" id="download-button" class="btn-large waves-effect waves-light transparent pad_top grey-text text-darken-3 border-white"><i class="material-icons right">skip_next</i>Go to the  PillStore  </a>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="parallax">
        <img src="{% static 'images/image.png' %}" style="width: 60% !important;" alt="Unsplashed background img 1">
    </div>
  </div>


  <div class="container padding_landing">
    <div class="section" name="about_anchor">
      <h5 class="header center col s12 flow-text">
      <p>The word <span class="italic">pillangó</span> means butterfly in Hungarian</p>
      <p>The butterfly is a symbol of color and transformation, an impressive process of metamorphosis</p>
      <p></p>
      <p>Like us</p>
      <p>Pillangó transforms data and analytics into apps for the financial industry.</p>
          Making them simple. Easy. In a continuous process of change</h5>
    


    </div>
  </div>


  <div class="parallax-container valign-wrapper padding_landing">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"><span class="back_lecture">Fintech disruption from inside</span></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'images/servers.jpg' %}" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container padding_landing" >
    <div class="section" id="products_anchor">

      <!--   Icon Section   -->
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">work</i></h2>
            <h5 class="center">Our Fin</h5>

            <p class="light">We take advantage of our sector experience and expertise to identify value for our clients through products and services based on data.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Our Tech</h5>

            <p class="light">We transform knowledge, data and algorithms into actionable capabilities. Our inhouse platform and API allows for light integration both in time and costs.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Our Clients</h5>

            <p class="light">We believe in helping financial institutions tansforming their actual business model.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"><span class="back_lecture">Creating value based applications using scalable machine learning solutions</span></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'images/blackboard.jpg' %}" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container padding_landing">
    <div class="section">

      <div class="row">
        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">trending_up</i></h2>
            <h5 class="center">Services</h5>

            <p class="light">We offer state of the art machine learning techniques and integrate them into your application via our API. Reducing the gap between development and production environments. </p>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">airplay</i></h2>
            <h5 class="center">Products</h5>

            <p class="light">We design and develop personalized predictive applications, transforming internal culture and processes and providing new tools for banking clients.</p>
          </div>
        </div>
      </div>

      </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"><span class="back_lecture">Leveraging data to provide better services and more revenues</span></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'images/background3.jpg' %}" alt="Unsplashed background img 3"></div>
  </div>

  {% include "footer.html" %}

  {% include "modals.html" %}


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <script src="{% static 'js/init.js' %}"></script>

  <script type="text/javascript">
  $(document).ready(function () {

    function scrollToAnchor(aid){
        var aTag = $("div[name='"+ aid +"']");
        if (aid=='about_anchor') {
          $('html,body').animate({scrollTop: aTag.offset().top},1000);
        } else if (aid=='contact_anchor') {
          $('html,body').animate({scrollTop: aTag.offset().top},2000);
        }
        
    }

    $("#anchor3").click(function(e) {
        e.preventDefault();
       scrollToAnchor('about_anchor');
    });

    $("#anchor4").click(function(e) {
        e.preventDefault();
       scrollToAnchor('contact_anchor');
    });

    $(window).scroll(function(){
        if ($(this).scrollTop() > 750) {
          console.log('Ahoraaa....')
          $('nav').removeClass("navbar-transparent").addClass("white");
          $('.hidden').removeClass("hidden").addClass("visible");
          $('.text-lighten-5').removeClass("grey-text text-lighten-5").addClass("grey-text text-darken-2");
        } else {
          $('nav').removeClass("white").addClass("navbar-transparent");
          $('.visible').removeClass("visible").addClass("hidden");
          $('.text-darken-2').removeClass("grey-text text-darken-2").addClass("grey-text text-lighten-5");
        }
    });
});
    
  </script>

  </body>
</html>
