  {% load compress %}
  {% load staticfiles %}
  {% load static %}

  <ul id="slide-out" class="side-nav">
      <li>
        <div class="userView">
          <div class="background">
            <img src="{% static 'images/testimonial-bg.jpg' %}">
          </div>
          <a href="{{ company.get_absolute_url }}"><img class="circle" src="{{ company.image }}"></a>
          <a href="{{ company.get_absolute_url }}"><span class="white-text name">{{ company.name }}</span></a>
          <a href="{{ company.get_absolute_url }}"><span class="white-text email">{{ company.email }}</span></a>
        </div>
      </li>
      <li class="">
        <li><span class="center-text tiny light"><small>{{ company.cnae }}</small></span></li>
      </li>
      <li><a href="{% url 'empresas:empresas_home' %}"><i class="material-icons">airplay</i>Home</a></li>
      <li><div class="divider"></div></li>
      <li><a class="subheader">Look & Find</a></li>
      <li><a href="{% url 'empresas:clients' %}"><i class="material-icons">person_pin</i>Find new clients!</a></li>
      <li><a href="{% url 'empresas:providers' %}"><i class="material-icons">settings_input_antenna</i>Find new providers!</a></li>
      <li><a href="{% url 'empresas:recommendations' %}"><i class="material-icons">assessment</i>Find out recommendations!</a></li>
      <li><a href="{% url 'empresas:recommendations_financial_risk' %}"><i class="material-icons">assessment</i>Find out your risks!</a></li>
      
      <li><div class="divider"></div></li>
      <li><a class="subheader">Monitoring</a></li>
      <li><a href="{% url 'empresas:client_opportunities' %}"><i class="material-icons">person_pin</i>Found clients</a></li>
      <li><a href="{% url 'empresas:provider_opportunities' %}"><i class="material-icons">settings_input_antenna</i>Found providers</a></li>
      <li><a href="{% url 'empresas:recommendations' %}"><i class="material-icons">assessment</i>Commercial monitoring</a></li>
      <li><a href="{% url 'empresas:recommendations_financial_risk' %}"><i class="material-icons">assessment</i>Risk monitoring</a></li>
    
      <li><div class="divider"></div></li>
      <li><a class="subheader">Options</a></li>
      <li><a class="waves-effect" href="#!">Settings<i class="material-icons">lock_open</i></a></li>
      <li><a class="waves-effect" href="{% url 'landing' %}">Log out<i class="material-icons">input</i></a></li>
    </ul>