{% extends "app_base.html" %}
{% load staticfiles %}

{% block page_title %}
Marketplace - Pillango
{% endblock %}

{% block side-nav %}{% include "side-nav.html" %}{% endblock %}

{% block content %}
	<div class="wrap_register2">
		<div class="contents text-right">
          <a href="{% url 'empresas:detail' pk=company.pk %}" class="">
          	<div class="row">
		      <div class="col s12 m12">
		        <div class="card" style="background: rgba(255, 255, 250, .7);">
		        <div class="card-content">
		          	<span class="flow-text">Haz una visita guiada...</span>
		          		<div class="card-panel" style="background: rgba(245, 245, 245, .9); margin: 0 0 0 0; padding: 0 0 0 0;">
			          	<div class="mdl-card mdl-shadow--2dp">

						      <div class="mdl-card__supporting-text">

						        <div class="mdl-stepper-horizontal-alternative">
						          
						          <div class="mdl-stepper-step active-step">
						            <a href="{% url 'empresas:detail' pk=company.pk %}">
						              <div class="mdl-stepper-circle"><span>1</span></div>
						              <div class="mdl-stepper-title">Mi empresa</div>
						              <div class="mdl-stepper-optional">Resumen de tus principales resultados e indicaodres comparados con los de tu competencia</div>
						              <div class="mdl-stepper-bar-right"></div>
						            </a>
						          </div>
						          
						          <div class="mdl-stepper-step active-step">
						            <a href=""> <!-- {% url 'empresas:recommendations' %} -->
						              <div class="mdl-stepper-circle"><span>2</span></div>
						              <div class="mdl-stepper-title">Mis Clientes/Proveedores</div>
						              <div class="mdl-stepper-optional">Resumen de tus clientes y proveedores comparados con los clientes y proveedores de tu competencia</div>
						              <div class="mdl-stepper-bar-left"></div>
						              <div class="mdl-stepper-bar-right"></div>
						            </a>
						          </div>
						          <div class="mdl-stepper-step active-step">
						            <a href=""> <!-- {% url 'empresas:recommendations_financial_risk' %} -->
						              <div class="mdl-stepper-circle"><span>3</span></div>
						              <div class="mdl-stepper-title">Mis Riesgos</div>
						              <div class="mdl-stepper-optional">Conoce tus riesgos financieros, los de tus clientes y los de tus proveedores y compárate con tu competencia</div>
						              <div class="mdl-stepper-optional"></div>
						              <div class="mdl-stepper-bar-left"></div>
						              <div class="mdl-stepper-bar-right"></div>
						            </a>
						          </div>

						          <div class="mdl-stepper-step active-step">
						            <a href=""> <!-- {% url 'empresas:informe' %} -->
						              <div class="mdl-stepper-circle"><span>4</span></div>
						              <div class="mdl-stepper-title">Mi Informe</div>
						              <div class="mdl-stepper-optional">Te indicamos los puntos más importantes detectados y te generamos una lista de recomendaciones</div>
						              <div class="mdl-stepper-bar-left"></div>
						            </a>
						          </div>
						        </div>

						      </div>

						</div>
					</div>
		        </div>
		      </div>
		      </div>
          </a>
          
          	<div class="row">
		      <div class="col s12 m12">
		        <div class="card" style="background: rgba(255, 255, 250, .7);">
		        <div class="card-content">
		          	<span class="flow-text" style="color: #039be5; ">...o descúbrelo por tu mismo</span>

		          	<div class="row">
		          		<div class="col s12 m3">
		          			<a href="{% url 'empresas:clients' %}" class="">
		          			<div class="card-panel hoverable" style="background: rgba(245, 245, 245, .9); margin: .5rem 0 0rem 0;">
		          				<div class="center-align">
		          				<i class="fa fa-user fa-2x" aria-hidden="true"></i>
								  <strong><p class=" black-text center-align" style="padding: 0rem 1rem 0rem 1rem;">Nuevos clientes</p></strong>
								  <span style="font-size: 12px;" class="black-text light">Visita nuestro marketplace, descubre y contacta con potenciales nuevos clientes que te recomedamos</span>
								</div>
					        </div>
					        </a>
		          		</div>
		          		<div class="col s12 m3">
		          			<a href="{% url 'empresas:providers' %}" class="">
		          			<div class="card-panel hoverable" style="background: rgba(245, 245, 245, .9); margin: .5rem 0 0rem 0;">
		          				<div class="center-align">
		          				<i class="fa fa-truck fa-2x" aria-hidden="true"></i>
								  <strong><p class=" black-text center-align" style="padding: 0rem 1rem 0rem 1rem;">Nuevos proveedores</p></strong>
								  <span style="font-size: 12px;" class="black-text light">Visita nuestro marketplace, descubre y contacta con potenciales nuevos proveedores que te recomedamos</span>
								</div>
					        </div>
					        </a>
		          		</div>
		          		<div class="col s12 m3">
		          			<a href="{% url 'empresas:switch' pk=company.pk %}" class="">
		          			<div class="card-panel hoverable" style="background: rgba(245, 245, 245, .9); margin: .5rem 0 0rem 0;">
		          				<div class="center-align">
		          				<i class="fa fa-venus-mars fa-2x" aria-hidden="true"></i>
								  <strong><p class=" black-text center-align" style="padding: 0rem 1rem 0rem 1rem;">Comercial Advisory</p></strong>
								  <span style="font-size: 12px;" class="black-text light">Conoce mejor tu cartera de clientes y proveedores y compárala con la competencia</span>
								</div>
					        </div>
					        </a>
		          		</div>
		          		<div class="col s12 m3">
		          			<a href="{% url 'empresas:recommendations_financial_risk' %}" class="">
		          			<div class="card-panel hoverable" style="background: rgba(245, 245, 245, .9); margin: .5rem 0 0rem 0;">
		          				<div class="center-align">
		          				<i class="fa fa-line-chart fa-2x" aria-hidden="true"></i>
								  <strong><p class=" black-text center-align" style="padding: 0rem 1rem 0rem 1rem;">Risk Advisory</p></strong>
								  <span style="font-size: 12px;" class="black-text light">Mide tus principales riesgos y recibe nuestras recomendaciones de como puedes gestionarlos</span>
								</div>
					        </div>
					        </a>
		          		</div>
		          	</div>
		          	

			    </div>
		        </div>
		      </div>
		      </div>
        </div>
	</div>
{% endblock %}

{% block alt_js %}
<script type="text/javascript">

	// $(document).ready(function(){
	// 	$( "#risk" ).click(function(e) {
	// 	Materialize.toast('Still under construction... Coming soon!', 4000);
	// })
	// });


</script>
{% endblock alt_js %}

