{% extends "app_base.html" %}
{% load staticfiles %}

{% block page_title %}
Marketplace - Pillango
{% endblock %}

{% block content %}
	<div class="wrap_register">
		<div class="contents text-right">
          <h1 class="fadding light">Where business meets business</h1>
          <p class="fadding_2 light" >what are you looking for?</p>
          <a href="{% url 'empresas:clients' %}" class="waves-effect waves-teal btn-flat white-text fadding_3">Clients</a>
          <a href="{% url 'empresas:providers' %}" class="waves-effect waves-teal btn-flat white-text fadding_3">Providers</a>
          <a href="{% url 'empresas:recommendations' %}" class="waves-effect waves-teal btn-flat white-text fadding_3">Recommendations</a>
          <a href="{% url 'empresas:recommendations_financial_risk' %}" id="risk" class="waves-effect waves-teal btn-flat white-text fadding_3">Risk Manager</a>
        </div>
	</div>

	<a label="Exit" href="{% url 'landing' %}" class="show-on-medium bottom_positioning"><i class="material-icons medium white-text">power_settings_new</i></a>
	
   
{% endblock %}

{% block alt_js %}
<script type="text/javascript">

	$(document).ready(function(){
		$( "#risk" ).click(function(e) {
		Materialize.toast('Still under construction... Coming soon!', 4000);
	})
	});


</script>
{% endblock alt_js %}

