{% extends "app_base.html" %}
{% load static %}
{% block page_title %}
{{ empresa.name }}
{% load humanize %}
{% load mathfilters %}
{% endblock %}

{% block body_class %}background_grey{% endblock %}

{% block side-nav %}{% include "side-nav.html" %}{% endblock %}

{% block cdn_css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
{% endblock cdn_css %}
 
{% block content %}

<div class="parallax-container">
    {% if referrer == 'client' %}
    <h3 class="center-align white-text text-darken-3 light">¡Considera nuevos clientes!</h3>
    {% elif referrer == 'provider' %}
    <h3 class="center-align white-text text-darken-3 light">¡Considera nuevos proveedores!</h3>
    {% endif %}
    <div class="parallax"><img src="{% static 'images/cambodia-1476378_1920.jpg' %}"></div>
</div>

{% if referrer != 'client' and referrer != 'provider'%}

<div class="mdl-card mdl-shadow--2dp">

      <div class="mdl-card__supporting-text">

        <div class="mdl-stepper-horizontal-alternative">
          
          <div class="mdl-stepper-step active-step">
            <a href="{% url 'empresas:detail' pk=company.pk %}">
              <div class="mdl-stepper-circle"><span>1</span></div>
              <div class="mdl-stepper-title">Revisión cliente</div>
              <div class="mdl-stepper-bar-left"></div>
              <div class="mdl-stepper-bar-right"></div>
            </a>
          </div>
          
          <div class="mdl-stepper-step">
            <a href="{% url 'empresas:recommendations' %}">
              <div class="mdl-stepper-circle"><span>2</span></div>
              <div class="mdl-stepper-title">Clientes/Proveedores</div>
              <div class="mdl-stepper-optional">Comparativa</div>
              <div class="mdl-stepper-bar-left"></div>
              <div class="mdl-stepper-bar-right"></div>
            </a>
          </div>
          <div class="mdl-stepper-step">
            <a href="{% url 'empresas:recommendations_financial_risk' %}">
              <div class="mdl-stepper-circle"><span>3</span></div>
              <div class="mdl-stepper-title">Riesgos</div>
              <div class="mdl-stepper-optional">Comparativa</div>
              <div class="mdl-stepper-optional"></div>
              <div class="mdl-stepper-bar-left"></div>
              <div class="mdl-stepper-bar-right"></div>
            </a>
          </div>
          <div class="mdl-stepper-step">
            <a href="{% url 'empresas:informe' %}">
              <div class="mdl-stepper-circle"><span>4</span></div>
              <div class="mdl-stepper-title">Recomendaciones</div>
              <div class="mdl-stepper-optional">Informe</div>
              <div class="mdl-stepper-bar-left"></div>
              <div class="mdl-stepper-bar-right"></div>
            </a>
          </div>
        </div>

      </div>

  </div>

<div class="row">
  <div class="col s12 m1"></div>
  <div class="col s12 m5">
    <p class="flow-text center-align">Puntos fuertes</p>
    <div class="card horizontal green darken-3">
      <div class="card-stacked">
        <div class="card-content white-text">
          <p>{{company.name}} es una empresa en crecimiento con un aumento en las ventas continuado</p>
        </div>
        <div class="divider"></div>
        <div class="card-content white-text">
          <p>El EBITDA y los resultados de explotación han crecido duranto los últimos 3 años</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col s12 m5">
  <p class="flow-text center-align">Puntos a mejorar</p>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <p>Tiene una alta concentracion geográfica que puede incrementar los riesgos</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m1"></div>
</div>

<div class="divider"></div>
{% endif %}



<div class="row">
          <div class="col s12 m3">

              <div class="col s12 m12">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Contacta con esta empresa... </span>
                  <p>Ponemos a tu disposición los principales indicadores de esta empresa y sus datos de contacto para que puedas empezar a negociar con ella. Si te interesa la empresa, puedes guardar el contacto para gestionarlo a posteriori</p>
                </div>
                <div class="card-action">
                  {% if referrer == 'client' %}
                  <a href="#">GUARDAR CLIENTE</a>
                  {% elif referrer == 'provider' %}
                  <a href="#">GUARDAR PROVEEDOR</a>
                  {% endif %}
                  
                </div>
              </div>
            </div>

            <div class="col s12 m12">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">…¿por qué te la recomendamos? </span>
                  <p>Si estás viendo esta empresa es porque nuestro algoritmo de recomendación ha detectado una potencial interacción comercial. ¡Seguramente ya es cliente de empresas parecidas a ti o es una empresa parecida a tus clientes!</p>
                </div>
                <div class="card-action">
                  <a href="#">CONTACTA CON LA EMPRESA</a>
                </div>
              </div>
            </div>

            <div class="col s12 m12">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Aýudanos a mejorar</span>
                  <p>Cada vez que interactúas con nuestra aplicación nos ayudas a mejorar. Por favor, puedes descartar o incluir empresas que ya conozcas, o compartir tus propuestas de mejora en nuestro apartado de comentarios</p>
                </div>
                <div class="card-action">
                  <a href="{% url 'empresas:faq' %}">Contáctanos</a>
                </div>
              </div>
            </div>

          </div>

          <div class="col s12 m9">
          <div class="row">
              <div class="col s9">
                  <h4>{{ empresa.name }}</h4>
              </div>
              <div class="col s3">
                  {% if referrer == 'client' %}
                  <p>
                    <input type="checkbox" id="add_client" class="right large" name="opportunity" {% if checked_client == 1 %} checked="checked" {% endif %}/>
                    <label for="add_client" class="valign">Guardar cliente</label>
                    <span id="client_response"></span>
                  </p>
                  {% elif referrer == 'provider' %}
                  <p>
                    <input type="checkbox" id="add_provider" class="right large" name="opportunity" {% if checked_providers == 1 %} checked="checked" {% endif %}/>
                    <label for="add_provider" class="valign">Guardar proveedor</label>
                    <span id="provider_response"></span>
                  </p>
                  {% endif %}
              </div>
          </div>
          <div class="row">
              <div class="col s12 m4">
                <div class="card blue-grey darken-1">
                  <div class="card-content white-text">
                    <span class="card-title">Último ejercicio</span>
                    {% if empresa.estados_financieros.last.ejercicio %}
                    <h5 class="align-right orange-text darken-1">{{empresa.estados_financieros.last.ejercicio}}</h5>
                    {% else %}
                    <h5 class="align-right orange-text darken-1">Sin balances</h5>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col s12 m4">
                <div class="card blue-grey darken-1">
                  <div class="card-content white-text">
                    <span class="card-title">Ventas</span>
                    {% if empresa.estados_financieros.last.ventas %}
                    <h5 class="align-right orange-text darken-1">{{empresa.estados_financieros.last.ventas|mul:1.8|floatformat|intcomma}}€</h5>
                    {% else %}
                    <h5 class="align-right orange-text darken-1">-</h5>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col s12 m4">
                <div class="card blue-grey darken-1">
                  <div class="card-content white-text">
                    <span class="card-title">EBITDA</span>
                    {% if empresa.estados_financieros.last.ebitda %}
                    <h5 class="align-right orange-text darken-1">{{empresa.estados_financieros.last.ebitda|mul:3|floatformat|intcomma}}€</h5>
                    {% else %}
                    <h5 class="align-right orange-text darken-1">-</h5>
                    {% endif %}
                  </div>
                </div>
              </div>
              <!-- <div class="col s12 m3">
                <div class="card blue-grey darken-1">
                  <div class="card-content white-text">
                    <span class="card-title">Riesgo</span>
                    {% if empresa.hats_alert %}
                    {% if empresa.hats_alert == "ROJA" %}
                    <h5 class="align-right red-text darken-1">{{empresa.hats_alert}}</h5>
                    {% elif empresa.hats_alert == "AMARILLA" %}
                    <h5 class="align-right yellow-text darken-1">{{empresa.hats_alert}}</h5>
                    {% elif empresa.hats_alert == "VERDE" %}
                    <h5 class="align-right green-text darken-1">{{empresa.hats_alert}}</h5>
                    {% endif %}
                    {% else %}
                    <h5 class="align-right orange-text darken-1">-</h5>
                    {% endif %}
                  </div>
                </div>
              </div> -->
            </div>

          <div class="row">
              <div class="col s12 m6">
                  <h5>Detalles de contacto</h5>
                  <div><i class="tiny material-icons">contacts</i> {{empresa.name}} | {{empresa.contact_person}}</div>  
                  <div><i class="tiny material-icons">email</i> {{empresa.email}}</div>
                  <div><i class="tiny material-icons">location_on</i>{{empresa.address}}</div>   
                  <div><i class="tiny material-icons">call</i> {{empresa.phone}}</div>   
                  <div><i class="tiny material-icons">business</i> Sector: {{ empresa.sector }}</div>   
                  <div><i class="tiny material-icons">info</i> CNAE: {{ empresa.cnae_2 }}</div>  
                  <div><i class="tiny material-icons">schedule</i> Created in {{ empresa.creation_date }}</div>
                  <div class="right-align"><a href="mailto:{{empresa.email}}?Subject=Hello%20{{empresa.name}}" target="_top" class="btn-large waves-effect waves-light right-align"><i class="material-icons right">email</i>Contacto</a></div>
              </div>
              <div class="col s12 m6">
                  <div id="map"> </div>
              </div>
          </div>
          <hr>
          <!-- Graficos para el dashboard... vamos allà!!! vamonos!! -->
          {% if empresa.estados_financieros %}
          <h4 class="light">Últimos ejercicios</h4>
          <div class="row">
              <div class="col s12 m6">
                <div class="card grey lighten-4">
                  <div class="card-content grey-text darken-4">
                    <span class="card-title">Volumen de ventas</span>
                    <canvas id="barChart" width="400" height="400"></canvas>
                  </div>
                </div>
              </div>
              <div class="col s12 m6">
                <div class="card grey lighten-4">
                  <div class="card-content grey-text darken-4">
                    <span class="card-title">EBITDA - Resultado Explotación</span>
                    <canvas id="lineChart" width="400" height="400"></canvas>
                  </div>
                </div>
              </div>
          </div>

          {% endif %}
          <h4 class="light">Información adicional de interés</h4>
          <div class="divider"></div>
          <div class="row">
              <div class="col s12 m4">
                <div class="card blue-grey darken-1">
                  <div class="card-content white-text">
                    <span class="card-title"># Clients</span>
                    <h3 class="align-right orange-text darken-1">{{empresa.get_clients.count}}</h3>
                  </div>
                </div>
              </div>
              <div class="col s12 m4">
                <div class="card blue-grey darken-1">
                  <div class="card-content white-text">
                    <span class="card-title"># Providers</span>
                    <h3 class="align-right orange-text darken-1">{{empresa.get_providers.count}}</h3>
                  </div>
                </div>
              </div>
              <div class="col s12 m4">
                <div class="card blue-grey darken-1">
                  <div class="card-content white-text">
                    <span class="card-title"># Employees</span>
                    <h3 class="align-right orange-text darken-1">10</h3>
                  </div>
                </div>
              </div>
          </div>
          
          <h5 class="light">¿Como es el portfolio de clientes y proveedores? ¿Cuan diversificado está?</h5>
          <div class="row">
            <div class="col s12 m3">
                <div class="card blue-grey lighten-1">
                  <div class="card-content white-text">
                    <h6 class="light">Clientes</h6>
                    <h4><i class="fa fa-user" aria-hidden="true"></i> {{empresa.hhi_clients_clients|floatformat:2}}   <small style="color: red"><i class="fa fa-sort-down" aria-hidden="true"></i>  4%</small></h4>
                  </div>
                </div>
              </div>
              <div class="col s12 m3">
                <div class="card blue-grey lighten-1">
                  <div class="card-content white-text">
                    <h6 class="light">Proveedores</h6>
                    <h4><i class="fa fa-user" aria-hidden="true"></i> {{empresa.hhi_providers|floatformat:2}}   <small style="color: green"><i class="fa fa-sort-up" aria-hidden="true"></i>  4%</small></h4>
                  </div>
                </div>
              </div>
              <div class="col s12 m6">
                <div class="card blue-grey lighten-1">
                  <div class="card-content white-text">
                    {% if referrer == 'client' %}
                    El índice de Herfindahl es una medida, empleada en economía, que informa sobre la concentración económica de un mercado. En este caso, medimos la concentración de esta empresa en términos de ventas y compras o, lo que es lo mismo, te mostramos si tiene una cartera de clientes y proveedores bien diversificada.
                    {% else %}
                    El índice de Herfindahl es una medida, empleada en economía, que informa sobre la concentración económica de un mercado. En este caso, medimos la concentración de esta empresa en términos de ventas y compras o, lo que es lo mismo, te mostramos si tiene una cartera de clientes y proveedores bien diversificada.
                    {% endif %}
                  </div>
                </div>
              </div>
          </div>

          <h5 class="light">¿Cuál es el mejor momento para empezar a trabajar juntos?</h5>
          <div class="row">
            <div class="col m8 s12">
                <div class="card grey lighten-4">
                      <div class="card-content grey-text darken-4">
                        <span class="card-title">Identifica la estacionalidad contactar en el momento idóneo</span>
                          <canvas id="frecuencia_graph" width="300" height="150"></canvas>
                      </div>
                  </div>
              </div>
              <div class="col s12 m4">
                <div class="card blue-grey lighten-1">
                  <div class="card-content white-text">
                  {% if referrer == 'client' %}
                    El histograma te muestra la actividad económica (compras) de la empresa a lo largo del año. De esta manera puedes interpretar cuales son los picos y momentos valle de actividad y, en consecuencia, cuando podría ser mejor momento para entablar relaciones comerciales (p.e. 3-6 meses antes de sus compras).
                    {% else %}
                    El histograma te muestra la actividad económica (ventas) de la empresa a lo largo del año. De esta manera puedes interpretar cuales son los picos y momentos valle de actividad y, en consecuencia, cuando podría ser mejor momento para entablar relaciones comerciales.
                    {% endif %}
                    
                  </div>
                </div>
              </div>
          </div>

          <h5 class="light">¿Dónde trabaja?</h5>
          <div class="row">
            <div class="col m5 s12">
                <div class="card grey lighten-4">
                      <div class="card-content grey-text darken-4">
                        <span class="card-title">Grado de deslocalización</span>
                          <canvas id="geo_graph" width="200" height="200"></canvas>
                      </div>
                  </div>
              </div>
              <div class="col s12 m7">
                <div class="card blue-grey lighten-1">
                  <div class="card-content white-text">
                    {% if referrer == 'client' %}
                    Este gráfico muestra dónde concentra geográficamente su actividad la empresa. Te permite entender hasta qué punto está acostumbrada at rabajar a nivel local, nacional o internacional.
                    {% else %}
                    Este gráfico muestra dónde concentra geográficamente su actividad la empresa. Te permite entender hasta qué punto está acostumbrada a trabajar a nivel local, nacional o internacional.
                    {% endif %}
                    
                  </div>
                </div>
              </div>
          </div>

          <h5 class="light">¿Trabaja de un modo diversificado en diversos sectores?</h5>
          <div class="row">
            <div class="col m5 s12">
                <div class="card grey lighten-4">
                      <div class="card-content grey-text darken-4">
                        <span class="card-title">Grado de diversificación</span>
                          <canvas id="sector_graph" width="200" height="200"></canvas>
                      </div>
                  </div>
              </div>
              <div class="col s7 m6">
                <div class="card blue-grey lighten-1">
                  <div class="card-content white-text">
                    {% if referrer == 'client' %}
                    Este gráfico muestra dónde concentra sectorialmente sus compras la empresa. Te permite entender hasta qué punto está acostumbrada a trabajar con proveedores de tu sector por lo que puedes ajustar tu estrategia comercial acorde a tu poder de negociación.
                    {% else %}
                    Este gráfico muestra dónde concentra sectorialmente sus ventas la empresa. Te permite entender hasta qué punto está acostumbrada a trabajar con clientes de tu sector por lo que puedes ajustar tu estrategia comercial acorde a tu poder de negociación.
                    {% endif %}
                  </div>
                </div>
              </div>
          </div>
          
      </div>
    </div>


<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script>
<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>

<script>

    var map = L.map('map').setView([41.3931129,2.1448724], 15);
        mapLink = 
            '<a href="http://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer(
            'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; ' + mapLink + ' Contributors',
            maxZoom: 18,
    }).addTo(map);

    var bar = document.getElementById("barChart");
    var line = document.getElementById("lineChart");
    var ctx = document.getElementById("ctxChart");
    var spider = document.getElementById("spiderChart");

    var scatterChart = new Chart(line, {
        type: 'line',
        data: {
            labels: {{ fechas|safe }},
            datasets: [{
            label: "EBITDA",
            backgroundColor: "rgba(220,220,220,0.5)",
            borderColor: "rgba(220,220,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            pointHoverBackgroundColor: "rgba(220,220,220,1)",
            showTooltip: false, //NEW OPTION DON"T NEED TO INCLUDE IT IF YOU WANT TO DISPLAY BUT WON"T HURT IF YOU DO
            data: {{ ebitda }}
        }, {
            label: "Resultados de explotación",
            backgroundColor: "rgba(47,79,79,0.5)",
            borderColor: "rgba(47,79,79,0.8)",
            highlightFill: "rgba(47,79,79,0.75)",
            pointHoverBackgroundColor: "rgba(47,79,79,1)",
            showTooltip: false, //NEW OPTION DON"T NEED TO INCLUDE IT IF YOU WANT TO DISPLAY BUT WON"T HURT IF YOU DO
            data: {{ resultado_explotacion }}
        }]},
        options: {
          responsive: true,
          pointDotRadius: 10,
          bezierCurve: false,
          scaleShowVerticalLines: false,
          scaleGridLineColor: 'black'
        }
    });

    var myChart = new Chart(bar, {
        type: 'bar',
        data: {
            labels: {{ fechas|safe }},
            datasets: [{
                label: "Ventas",
                data: JSON.parse( "{{ ventas }}" ),
                backgroundColor: [
                    
                    'rgba(192,192,192, 0.2)',
                    'rgba(169,169,169, 0.2)',
                    'rgba(119,136,153, 0.2)',
                    'rgba(47,79,79, 0.2)',
                    'rgba(128,128,128, 0.2)',
                    'rgba(220,220,220, 0.2)'
                ],
                borderColor: [
                    
                    'rgba(192,192,192, 1)',
                    'rgba(169,169,169, 1)',
                    'rgba(119,136,153, 1)',
                    'rgba(47,79,79, 1)',
                    'rgba(128,128,128, 1)',
                    'rgba(220,220,220, 1)',
                ],
                borderWidth: 2
            }]
        },
        options: {
            legend: {
                display: false,
                labels: {
                    fontColor: 'rgb(255, 99, 132)'
                }
            },
            title: {
                display: true,
                text: 'Ventas en los últimos ejercicios'
            },
            responsive: true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });

</script>

{% endblock %}

{% block alt_js %}
<script type="text/javascript">
    var frecuencia_graph = document.getElementById("frecuencia_graph");
    var geo_graph = document.getElementById("geo_graph");
    var sector_graph = document.getElementById("sector_graph");

    
    BarGraph(frecuencia_graph, {{monthly_sells|safe}}, "{{titulo}}");
    DonutGraph(geo_graph, {{clients_by_region|safe}} );
    DonutGraphSector(sector_graph, {{clients_by_sector|safe}});

    function DonutGraph(div, data_you) {
      var labels_1 = ["En su región","Fuera de su región"];
      var data_1=[0,0];
      var you = data_you
      you.forEach(function(packet, i) {
        if (packet.territorial=="{{empresa.territorial}}") {
           data_1[0] += packet.c;
        } else {
           data_1[1] += packet.c;
        }
      });
      donut(div, data_1, labels_1)
    }

    function DonutGraphSector(div, data_you) {
      var labels_1 = ["En su sector","Fuera de su sector"];
      var data_1=[0,0];
      var you = data_you
      you.forEach(function(packet, i) {
        console.log(packet.cnae)
        console.log("{{empresa.cnae}}")
        if (packet.cnae=="{{empresa.cnae}}") {
           data_1[0] += packet.c;
        } else {
           data_1[1] += packet.c;
        }
      });
      donut(div, data_1, labels_1)
    }

    function BarGraph(div, data_you, titulo) {
      var labels_1 = [];
      var data_1=[];
      var you = data_you
      you.forEach(function(packet, i) {
         labels_1.push(packet.month);
         data_1.push(packet.c);
      });
      barchart(div, labels_1, data_1, titulo)
    }

    function donut(div, data, labels)
        {
           var myDoughnutChart = new Chart(div, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [
                    {
                        data: data,
                        backgroundColor: [
                            'rgba(128,128,128, 0.5)',
                            'rgba(47,79,79, 0.5)',
                            'rgba(119,136,153, 0.5)',
                            'rgba(192,192,192, 0.5)',
                        'rgba(169,180,169, 0.5)',
                        'rgba(128,128,128, 0.5)',
                        'rgba(220,220,220, 0.5)',
                        ],
                        hoverBackgroundColor: [
                            'rgba(128,128,128, 1)',
                            'rgba(47,79,79, 1)',
                            'rgba(119,136,153, 1)',
                            'rgba(192,192,192, 1)',
                        'rgba(169,180,169, 1)',
                        'rgba(128,128,128, 1)',
                        'rgba(220,220,220, 1)',
                        ]
                    }]
            },
            animation:{
                animateScale:true
            }
        });
    }

    function barchart(div, labels_1, data_1, title)
        {
          var myChart = new Chart(div, {
            type: 'bar',
            data: {
                labels: labels_1,
                datasets: [{
                    label: "{{company.name|safe}}",
                    data: data_1,
                    backgroundColor: 'rgba(47,79,79, 0.2)',
                    borderColor: 'rgba(47,79,79, 1)',
                    borderWidth: 2
                }]
            },
            options: {
                legend: {
                    display: false,
                    labels: {
                        fontColor: 'rgb(255, 99, 132)'
                    }
                },
                title: {
                    display: true,
                    text: title
                },
                responsive: true,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
      }


    var empresa_id = {{empresa.id}};

    $("#add_client" ).click(function() {
      $.ajax({
        
        url: '/empresas/'+empresa_id,

        type: 'get',
        data:{ opp_client: $( "#add_client" ).is(':checked')}})
          .done( function (responseText) {
                  // Triggered if response status code is 200 (OK)
                  if ($( "#add_client" ).is(':checked')==true) {
                    Materialize.toast('Added to your interesting clients', 4000);
                  } else {
                    Materialize.toast('Removed from your interesting clients', 4000);
                  }
                  // $('#client_response').html(responseText);
               })
               .fail( function (jqXHR, status, error) {
                  // Triggered if response status code is NOT 200 (OK)
                  alert(jqXHR.responseText);
               })
               .always( function() {
                  // Always run after .done() or .fail()
               });

    });

    $("#add_provider" ).click(function() {
      $.ajax({
        
        url: '/empresas/'+empresa_id,

        type: 'get',
        data:{ opp_provider: $( "#add_provider" ).is(':checked')}})
          .done( function (responseText) {
                  // Triggered if response status code is 200 (OK)
                  if ($( "#add_provider" ).is(':checked')==true) {
                    Materialize.toast('Added to your interesting providers', 4000);
                  } else {
                    Materialize.toast('Removed from your interesting providers', 4000);
                  }
                  // $('#provider_response').html(responseText);
               })
               .fail( function (jqXHR, status, error) {
                  // Triggered if response status code is NOT 200 (OK)
                  alert(jqXHR.responseText);
               })
               .always( function() {
                  // Always run after .done() or .fail()
               });

    });
</script>
{% endblock alt_js %}