{% extends "app_base.html" %}
{% load static %}
{% block page_title %}
{{ empresa.name }}
{% endblock %}

{% block body_class %}background_grey{% endblock %}

{% block content %}

<div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/cambodia-1476378_1920.jpg' %}"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col s9">
            <h2>{{ empresa.name }}</h2>
        </div>
        <div class="col s3">
            <p>
              <input type="checkbox" id="test6" class="right" name="opportunity" {% if checked == 1 %} checked="checked" {% endif %}/>
              <label for="test6" class="valign">Interesting opportunity</label>
              <div id="opportunity_response"></div>
            </p>
        </div>
    </div>
    
    <h5 class="light">CNAE: {{ empresa.cnae }}</h5>
    <h6 class="light">{{ empresa.transfers.count }} transfers ({{ empresa.average_transfer | floatformat }} average transfer amount)</h6>
    <h6 class="light">{{ empresa.empresa.count }} Recomendaciones</h6>

    <!-- Graficos para el dashboard... vamos allà!!! vamonos!! -->
    <div class="row">
        <div class="col s12 m6">
          <div class="card grey lighten-4">
            <div class="card-content grey-text darken-4">
              <span class="card-title">Volumen de ventas</span>
              <canvas id="barChart" width="400" height="400"></canvas>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card grey lighten-4">
            <div class="card-content grey-text darken-4">
              <span class="card-title">EBITDA</span>
              <canvas id="lineChart" width="400" height="400"></canvas>
            </div>
          </div>
        </div>
    </div>
    <!-- Graficos para el dashboard... vamos allà!!! vamonos!! -->

    <h3 class="light">Recommended for this client</h3>

    {% if empresa.recommended.all %}
    <div class="row">
            <table class="highlight">
                <thead>
                    <tr>
                        <th data-field="empresa_recomendada">Empresa</th>
                        <th data-field="scoring">Scoring</th>
                        <th data-field="scoring">Sector</th>
                        <th data-field="scoring">CNAE</th>
                    </tr>
                </thead>

            
                <tbody>
                    {% for company in empresa.recommended.all %}
                        {% if company.similarity > 0 %}
                        <tr>
                            <td><a href="{{ obj.clientes_recomendados.get_absolute_url }}">{{ company.clientes_recomendados.name }}</a></td>
                            <td>{{ company.similarity }}</td>
                            <td>{{ company.clientes_recomendados.sector }}</td>
                            <td>{{ company.clientes_recomendados.cnae }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}

        <p>No companies are available.</p>

    {% endif %}


    <h3 class="light">Recent transfers</h3>

    {% if empresa.transfers.all %}
    <div class="row">
            <table class="highlight">
                <thead>
                    <tr>
                        <th data-field="origin_id">Origin</th>
                        <th data-field="concept">Concept</th>
                        <th data-field="amount">Amount</th>
                        <th data-field="balance">Balance</th>
                        <th data-field="destination_id">Destination</th>
                        <th data-field="date">Date</th>
                        <th data-field="date">Detail</th>
                    </tr>
                </thead>

            
                <tbody>
                    {% for transfer in empresa.transfers.all %}
                        <tr>
                            <td><a href="{{ transfer.origin_reference.get_absolute_url }}">{{ transfer.origin_reference.name }}</a></td>
                            <td>{{ transfer.concept }}</td>
                            <td>{{ transfer.amount }}</td>
                            <td>{{ transfer.balance }}</td>
                            <td><a href="{{ transfer.destination_reference.get_absolute_url }}">{{transfer.destination_reference.name }}</a></td>
                            <td>{{ transfer.operation_data|date }}</td>
                            <td><a href="{% url 'empresas:transfer_detail' transfer.id %}">Detail</a></td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}

        <p>No transfers are available.</p>

    {% endif %}

    <h3 class="light">Add your transfer</h3>
    
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'empresas:transfer_create' empresa.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add" />
    </form>
</div>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script>

<script>

    var __MYAPP_CONFIG__ = {
      empresa_id: JSON.stringify( {{ empresa.id }})
    };
    console.log(__MYAPP_CONFIG__.empresa_id)

    var bar = document.getElementById("barChart");
    var line = document.getElementById("lineChart");
    var scatterChart = new Chart(line, {
        type: 'line',
        data: {
            datasets: [{
                label: 'EBIDTA',
                data: "{{ ebitda }}"
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    type: 'linear',
                    position: 'bottom'
                }]
            }
        }
    });

    console.log('{{ fechas|safe }}')
    console.log('{{ ventas }}')

    var myChart = new Chart(bar, {
        type: 'bar',
        data: {
            labels: {{ fechas|safe }},
            datasets: [{
                data: JSON.parse( "{{ ventas }}" ),
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            legend: {
                display: false,
                labels: {
                    fontColor: 'rgb(255, 99, 132)'
                }
            },
            title: {
                display: true,
                text: 'Ventas en los últimos ejercicios'
            },
            responsive: true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
</script>


{% endblock %}