{% extends "app_base.html" %}
{% load static %}
{% block page_title %}
{{ title }}
{% endblock %}

{% block side-nav %}{% include "side-nav.html" %}{% endblock %}

{% block content %}


<div class=container>

	<h2>Latest epresas</h2>

	{% if latest_empresas_list %}

		<div class="row">
			<table class="highlight">
				<thead>
					<tr>
						<th data-field="origin_id">Name</th>
						<th data-field="concept">CNAE</th>
						<th data-field="date">Detail</th>
					</tr>
				</thead>

			
				<tbody>
		    		{% for empresa in latest_empresas_list %}
						<tr>
							<td>{{ empresa.name }}</td>
							<td>{{ empresa.cnae }}</td>
							<td><a href="{% url 'empresas:empresa_detail' empresa.id %}">Detail</a></td>

						</tr>
		    		{% endfor %}
				</tbody>
			</table>
		</div>

	{% else %}

		<p>No companies are available.</p>

	{% endif %}

</div>

{% endblock %}
