{% extends "app_base.html" %}
{% load staticfiles %}

{% block page_title %}
Marketplace - Pillango
{% endblock %}

{% block content %}
	<div class="wrap_register">
		<div class="contents text-right">
          <h1 class="fadding light" data-wow-duration="1000ms" data-wow-delay="300ms" style="display: none;">Where business meets business</h1>
          <p class="fadding_2 light" data-wow-duration="1000ms" data-wow-delay="400ms" style="display: none;">How can we help you?</p>
          <a href="{% url 'empresas:clients' %}" style="display: none;" class="waves-effect waves-teal btn-flat white-text fadding_3" data-wow-duration="1000ms" data-wow-delay="400ms">Clients</a>
          <a href="{% url 'empresas:providers' %}" style="display: none;" class="waves-effect waves-teal btn-flat white-text fadding_3" data-wow-duration="1000ms" data-wow-delay="500ms">Providers</a>
          <a href="{% url 'empresas:recommendations' %}" style="display: none;" class="waves-effect waves-teal btn-flat white-text fadding_3" data-wow-duration="1000ms" data-wow-delay="500ms">Recommendations</a>
          <a href="#" style="display: none;" id="risk" class="waves-effect waves-teal btn-flat white-text fadding_3" data-wow-duration="1000ms" data-wow-delay="500ms">Risk Manager</a>
        </div>
	</div>
   
{% endblock %}

{% block alt_js %}
<script type="text/javascript">

	$(document).ready(function(){
		$( "#risk" ).click(function(e) {
		Materialize.toast('Still under construction... Comming soon!', 4000);
	})
	});


</script>
{% endblock alt_js %}

