{% extends "app_base.html" %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block page_title %}
{{ company.name }}
{% endblock %}

{% block body_class %}background_grey{% endblock %}
{% block side-nav %}{% include "side-nav.html" %}{% endblock %}
{% block content %}
<div class="parallax-container">
		<h3 class="center-align black-text light">¿Qué hemos detectado y como podemos ayudar?</h3>
		<div class="row center black-text">{{company.name}}</div>
	    <div class="parallax"><img src="{% static 'images/hand_bw.jpg' %}"></div>
	</div>
	
<div class="mdl-card mdl-shadow--2dp">

      <div class="mdl-card__supporting-text">

        <div class="mdl-stepper-horizontal-alternative">
          
          <div class="mdl-stepper-step active-step step-done">
            <a href="{% url 'empresas:detail' pk=company.pk %}">
              <div class="mdl-stepper-circle"><span>1</span></div>
              <div class="mdl-stepper-title">Revisión cliente</div>
              <div class="mdl-stepper-bar-left"></div>
              <div class="mdl-stepper-bar-right"></div>
            </a>
          </div>
          
          <div class="mdl-stepper-step active-step step-done">
            <a href="{% url 'empresas:recommendations' %}">
              <div class="mdl-stepper-circle"><span>2</span></div>
              <div class="mdl-stepper-title">Clientes/Proveedores</div>
              <div class="mdl-stepper-optional">Comparativa</div>
              <div class="mdl-stepper-bar-left"></div>
              <div class="mdl-stepper-bar-right"></div>
            </a>
          </div>
          <div class="mdl-stepper-step active-step step-done">
            <a href="{% url 'empresas:recommendations_financial_risk' %}">
              <div class="mdl-stepper-circle"><span>3</span></div>
              <div class="mdl-stepper-title">Riesgos</div>
              <div class="mdl-stepper-optional">Comparativa</div>
              <div class="mdl-stepper-optional"></div>
              <div class="mdl-stepper-bar-left"></div>
              <div class="mdl-stepper-bar-right"></div>
            </a>
          </div>
          <div class="mdl-stepper-step active-step">
            <a href="{% url 'empresas:informe' %}">
              <div class="mdl-stepper-circle"><span>4</span></div>
              <div class="mdl-stepper-title">Recomendaciones</div>
              <div class="mdl-stepper-optional">Informe</div>
              <div class="mdl-stepper-bar-left"></div>
              <div class="mdl-stepper-bar-right"></div>
            </a>
          </div>
        </div>

      </div>

  </div>
  
	
	<div class="row">
				<div class="white_back title_conf">
			    	<h3 class="flow-text">  Acciones a realizar</h3>
			    </div>
		    	<div class="row title_conf">
		    	{% if company.id == 990 %}
		    		<div class="row">
						  <div class="col s12 m1"></div>
						  <div class="col s12 m5">
						    <p class="flow-text center-align">Diagnóstico</p>
						    <div class="card horizontal grey lighten-3 black-text">
						      <div class="card-stacked">
						        <div class="card-content">
						          <p>{{company.name}} se encuentra en una situación de crecimiento sostenido, con buenos indicadores en sus resultados</p>
						        </div>
						        <div class="divider"></div>
						        <div class="card-content">
						          <p>{{company.name}} tiene un alto nivel de concentranción geogràfica en sus clientes</p>
						        </div>
						        <div class="divider"></div>
						        <div class="card-content">
						          <p>{{company.name}} tiene un alto nivel de penetración en sus clientes, muy por encima del de su competencia</p>
						        </div>
						        <div class="divider"></div>
						        <div class="card-content">
						          <p>{{company.name}} tiene un ratio de endeudamiento inferior al de su competencia</p>
						        </div>
						        <div class="divider"></div>
						        <div class="card-content">
						          <p>{{company.name}} tiene un ratio de endeudamiento a corto muy por debajo de su competencia</p>
						        </div>
						      </div>
						    </div>

						  </div>
						  
						  <div class="col s12 m5">
						  <p class="flow-text center-align">Propuesta</p>
						    <div class="card horizontal grey lighten-3 black-text">
						      <div class="card-stacked">
						        <div class="card-content">
						          <p>El crecimiento sostenido permite, en caso de necesidad, ofrecer nuevos productos, y un incremento de los activos</p>
						        </div>
						        <div class="divider"></div>
						        <div class="card-content">
						          <p>Es importante ofrecer <strong>nuevos clientes</strong> que se encuentren fuera de su región para reducir la concentración</p>
						        </div>
						         <div class="card-content">
						          <p>Penetraciones altas dificultan un crecimiento sostenido sin encontrar <strong>nuevas oportunidades comerciales</strong></p>
						        </div>
						        <div class="card-content">
						          <p>Es posible indicar <strong>nuevos préstamos</strong> puesto que sus ratios de endeudamiento permiten margen</p>
						        </div>
						        <div class="card-content">
						          <p>Para hacer frente a pagos o inversiones a corto, puede ser interessante ofrecerle algún <strong>producto de circulante</strong></p>
						        </div>
						        
						      </div>
						    </div>
						  </div>
						  <div class="col s12 m1"></div>
						</div>
				{% elif company.id == 1610 %}
		    		<div class="row">
						  <div class="col s12 m1"></div>
						  <div class="col s12 m5">
						    <p class="flow-text center-align">Diagnóstico</p>
						    <div class="card horizontal grey lighten-3 black-text">
						      <div class="card-stacked">
						        <div class="card-content">
						          <p>{{company.name}} se encuentra en una situación de crecimiento sostenido, pero con resultados a la baja</p>
						        </div>
						        <div class="divider"></div>
						        <div class="card-content">
						          <p>{{company.name}} tiene un alto nivel de concentranción en sus proveedores</p>
						        </div>
						        <div class="divider"></div>
						        <div class="card-content">
						          <p>Los proveedores de {{company.name}} tiene un bajo nivel de dependencia, muy por debajo del de su competencia</p>
						        </div>
						        <div class="divider"></div>
						        <div class="card-content">
						          <p>{{company.name}} tiene un ratio de endeudamiento inferior al de su competencia</p>
						        </div>
						        <div class="divider"></div>
						        <div class="card-content">
						          <p>{{company.name}} tiene unas necesidades de working capital superiores a la media de su competencia</p>
						        </div>
						      </div>
						    </div>

						  </div>
						  
						  <div class="col s12 m5">
						  <p class="flow-text center-align">Propuesta</p>
						    <div class="card horizontal grey lighten-3 black-text">
						      <div class="card-stacked">
						        <div class="card-content">
						          <p>El crecimiento sostenido permite, en caso de necesidad, ofrecer nuevos productos, y un incremento de los activos</p>
						        </div>
						        <div class="divider"></div>
						        <div class="card-content">
						          <p>Es importante ofrecer <strong>nuevos proveedores</strong> para reducir la concentración</p>
						        </div>
						         <div class="card-content">
						          <p>Dependencias muy bajas dificultan el poder de negociación sin buscar <strong>nuevos proveedores</strong></p>
						        </div>
						        <div class="card-content">
						          <p>Es posible indicar <strong>nuevos préstamos</strong> puesto que sus ratios de endeudamiento permiten margen</p>
						        </div>
						        <div class="card-content">
						          <p>Para hacer frente a pagos o inversiones a corto, puede ser interessante ofrecerle <strong>lineas de confirming</strong></p>
						        </div>
						        
						      </div>
						    </div>
						  </div>
						  <div class="col s12 m1"></div>
						</div>
					{% endif %}
		    	</div>
				 <!-- /////////////////////////////////////////////////////////////
				 ////// ¿Como son mis clientes?
				 ///////////////////////////////////////////////////////////// -->

					<div class="white_back title_conf">
				    	<h3 class="flow-text">  Nuevos clientes a recomendar</h3>
				    </div>
			    	<div class="row title_conf">
			    	<!-- Resultado explotaciones -->
			    	<div class="row">
			    		<div id="cards_container">
		    			<div class="row">
				    		<div class="col s12 m4 cards-container">

							{% for obj in recommended_clients %}

								{% if  forloop.counter|add:"-1"|divisibleby:3 %}
									<div class="card blue-grey lighten-4 hoverable">
									    <div class="card-image waves-effect waves-block waves-light">
									      <img class="activator" src="{{ obj.image}}">
									    </div>
									    <div class="card-content">
									    	<div class="row">
									      		<span class="activator center-align grey-text text-darken-4"> {{ obj.name}}</span>
									      	</div>
									      	<div class="divider"></div>
									      	<div class="row">
									      		<div class="col s6">
									      			<span class="right-align flow-text" style="color: {% if obj.similarity > 0.7 %}green{% elif obj.similarity > 0.3 %} orange{% else %}red{% endif %}"> {{ obj.similarity|mul:10|floatformat }}</span>
									      		</div>
									      	</div>

									      	<div class="row">
									      		<div class="col s6">
									      			<i class="fa fa-money left-align" aria-hidden="true"></i></i><span class="grey-text light text-darken-4"> Financing:
									      			<br>
									      			<small>¿Necesitarás financiar tus facturas?</small>	
									      		</div>
									      		<div class="col s6">
									      			<span class="right-align" style="color: {% if obj.factoring_preaprobado > 0 %}green{% else %}red{% endif %}"> {% if obj.factoring_preaprobado > 0 %} Te financiamos hasta  <a href="https://www.bancosantander.es/es/empresas-advance/productos-y-servicios/cobros/factoring" id="download-button" target="_blank" class="btn waves-effect waves-light transparent grey-text text-darken-4 border-grey"> {{ obj.factoring_preaprobado|floatformat|intcomma }}€ </a>  {% else %} Sin preaprobación {% endif %}</span>
									      		</div>
									      	</div>
										    <div class="card-action">
										    	<a class="blue-grey-text text-darken-3" href="{{ obj.get_absolute_url }}">Ver detalle</a>
										      	<span ><i class="material-icons right activator center">more_vert</i></span>
										    </div>
									    </div>
									    <div class="card-reveal">
									    	<span class="card-title">Actividad:<i class="material-icons right">close</i></span>
									    	<div class="row">
									      		<p class="grey-text text-darken-4">{{ obj.cnae_2 }}</p>
									      		<p class="grey-text text-darken-4">{{ obj.cnae }}</p>
									      	</div>
									      	<span class="card-title">Localización:</span>
									      	<div class="row">
									      		<p class="grey-text text-darken-4">{{ obj.territorial }}</p>
									      	</div>
									    </div>
									</div>

								{% endif %}
							{% endfor %}
							</div>

							<!-- =================== -->

							<div class="col s12 m4 cards-container">
								{% for obj in recommended_clients %}

								{% if  forloop.counter|add:"-2"|divisibleby:3 %}
									<div class="card blue-grey lighten-4 hoverable">
									    <div class="card-image waves-effect waves-block waves-light">
									      <img class="activator" src="{{ obj.image}}">
									    </div>
									    <div class="card-content">
									    	<div class="row">
									      		<span class="activator center-align grey-text text-darken-4"> {{ obj.name}}</span>
									      	</div>
									      	<div class="divider"></div>
									      	<div class="row">
									      		<div class="col s6">
									      			<span class="right-align flow-text" style="color: {% if obj.similarity > 0.7 %}green{% elif obj.similarity > 0.3 %} orange{% else %}red{% endif %}"> {{ obj.similarity|mul:10|floatformat }}</span>
									      		</div>
									      	</div>

									      	<div class="row">
									      		<div class="col s6">
									      			<i class="fa fa-money left-align" aria-hidden="true"></i></i><span class="grey-text light text-darken-4"> Financing:
									      			<br>
									      			<small>¿Necesitarás financiar tus facturas?</small>	
									      		</div>
									      		<div class="col s6">
									      			<span class="right-align" style="color: {% if obj.factoring_preaprobado > 0 %}green{% else %}red{% endif %}"> {% if obj.factoring_preaprobado > 0 %} Te financiamos hasta  <a href="https://www.bancosantander.es/es/empresas-advance/productos-y-servicios/cobros/factoring" id="download-button" target="_blank" class="btn waves-effect waves-light transparent grey-text text-darken-4 border-grey"> {{ obj.factoring_preaprobado|floatformat|intcomma }}€ </a>  {% else %} Sin preaprobación {% endif %}</span>
									      		</div>
									      	</div>
										    <div class="card-action">
										    	<a class="blue-grey-text text-darken-3" href="{{ obj.get_absolute_url }}">Ver detalle</a>
										      	<span ><i class="material-icons right activator center">more_vert</i></span>
										    </div>
									    </div>
									    <div class="card-reveal">
									    	<span class="card-title">Actividad:<i class="material-icons right">close</i></span>
									    	<div class="row">
									      		<p class="grey-text text-darken-4">{{ obj.cnae_2 }}</p>
									      		<p class="grey-text text-darken-4">{{ obj.cnae }}</p>
									      	</div>
									      	<span class="card-title">Localización:</span>
									      	<div class="row">
									      		<p class="grey-text text-darken-4">{{ obj.territorial }}</p>
									      	</div>
									    </div>
									</div>

								{% endif %}
							{% endfor %}
							</div>

							<div class="col s12 m4 cards-container">
								{% for obj in recommended_clients %}

								{% if  forloop.counter|add:"-3"|divisibleby:3 %}
									<div class="card blue-grey lighten-4 hoverable">
									    <div class="card-image waves-effect waves-block waves-light">
									      <img class="activator" src="{{ obj.image}}">
									    </div>
									    <div class="card-content">
									    	<div class="row">
									      		<span class="activator center-align grey-text text-darken-4"> {{ obj.name}}</span>
									      	</div>
									      	<div class="divider"></div>
									      	<div class="row">
									      		<div class="col s6">
									      			<span class="right-align flow-text" style="color: {% if obj.similarity > 0.7 %}green{% elif obj.similarity > 0.3 %} orange{% else %}red{% endif %}"> {{ obj.similarity|mul:10|floatformat }}</span>
									      		</div>
									      	</div>

									      	<div class="row">
									      		<div class="col s6">
									      			<i class="fa fa-money left-align" aria-hidden="true"></i></i><span class="grey-text light text-darken-4"> Financing:
									      			<br>
									      			<small>¿Necesitarás financiar tus facturas?</small>	
									      		</div>
									      		<div class="col s6">
									      			<span class="right-align" style="color: {% if obj.factoring_preaprobado > 0 %}green{% else %}red{% endif %}"> {% if obj.factoring_preaprobado > 0 %} Te financiamos hasta  <a href="https://www.bancosantander.es/es/empresas-advance/productos-y-servicios/cobros/factoring" id="download-button" target="_blank" class="btn waves-effect waves-light transparent grey-text text-darken-4 border-grey"> {{ obj.factoring_preaprobado|floatformat|intcomma }}€ </a>  {% else %} Sin preaprobación {% endif %}</span>
									      		</div>
									      	</div>
										    <div class="card-action">
										    	<a class="blue-grey-text text-darken-3" href="{{ obj.get_absolute_url }}">Ver detalle</a>
										      	<span ><i class="material-icons right activator center">more_vert</i></span>
										    </div>
									    </div>
									    <div class="card-reveal">
									    	<span class="card-title">Actividad:<i class="material-icons right">close</i></span>
									    	<div class="row">
									      		<p class="grey-text text-darken-4">{{ obj.cnae_2 }}</p>
									      		<p class="grey-text text-darken-4">{{ obj.cnae }}</p>
									      	</div>
									      	<span class="card-title">Localización:</span>
									      	<div class="row">
									      		<p class="grey-text text-darken-4">{{ obj.territorial }}</p>
									      	</div>
									    </div>
									</div>

								{% endif %}
							{% endfor %}
						</div>

						</div>
				    	</div>
			    	</div>
			    </div>
			    <!-- /////////////////////////////////////////////////////////////
				 ////// ¿Cómo me relaciono con ellos?
				 ///////////////////////////////////////////////////////////// -->

			    <div class="white_back title_conf">
			    	<h3 class="flow-text">  Nuevos proveedores a recomendar</h3>
			    </div>
		    	<div class="row title_conf">

		            <!-- Resultado explotaciones -->
			    	<div class="row">
			    		<div id="cards_container">
		    			<div class="row">
				    		<div class="col s12 m4 cards-container">

							{% for obj in recommended_providers %}

								{% if  forloop.counter|add:"-1"|divisibleby:3 %}
									

									<div class="card blue-grey lighten-4 hoverable">
									    <div class="card-image waves-effect waves-block waves-light">
									      <img class="activator" src="{{ obj.image}}">
									    </div>
									    <div class="card-content">
									    	<div class="row">
									      		<span class="activator center-align grey-text text-darken-4"> {{ obj.name}}</span>
									      	</div>
									      	<div class="divider"></div>
									      	<div class="row">
									      		<div class="col s6">
									      			<span class="right-align flow-text" style="color: {% if obj.similarity > 0.7 %}green{% elif obj.similarity > 0.3 %} orange{% else %}red{% endif %}"> {{ obj.similarity|mul:10|floatformat }}</span>
									      		</div>
									      	</div>

									      	<div class="row">
									      		<div class="col s6">
									      			<i class="fa fa-money left-align" aria-hidden="true"></i></i><span class="grey-text light text-darken-4"> Financing:
									      			<br>
									      			<small>¿Necesitarás financiar tus facturas?</small>	
									      		</div>
									      		<div class="col s6">
									      			<span class="right-align" style="color: {% if obj.factoring_preaprobado > 0 %}green{% else %}red{% endif %}"> {% if obj.factoring_preaprobado > 0 %} Te financiamos hasta  <a href="https://www.bancosantander.es/es/empresas-advance/productos-y-servicios/cobros/factoring" id="download-button" target="_blank" class="btn waves-effect waves-light transparent grey-text text-darken-4 border-grey"> {{ obj.factoring_preaprobado|floatformat|intcomma }}€ </a>  {% else %} Sin preaprobación {% endif %}</span>
									      		</div>
									      	</div>
										    <div class="card-action">
										    	<a class="blue-grey-text text-darken-3" href="{{ obj.get_absolute_url }}">Ver detalle</a>
										      	<span ><i class="material-icons right activator center">more_vert</i></span>
										    </div>
									    </div>
									    <div class="card-reveal">
									    	<span class="card-title">Actividad:<i class="material-icons right">close</i></span>
									    	<div class="row">
									      		<p class="grey-text text-darken-4">{{ obj.cnae_2 }}</p>
									      		<p class="grey-text text-darken-4">{{ obj.cnae }}</p>
									      	</div>
									      	<span class="card-title">Localización:</span>
									      	<div class="row">
									      		<p class="grey-text text-darken-4">{{ obj.territorial }}</p>
									      	</div>
									    </div>
									</div>

								{% endif %}
							{% endfor %}
							</div>

							<!-- =================== -->

							<div class="col s12 m4 cards-container">
								{% for obj in recommended_providers %}

								{% if  forloop.counter|add:"-2"|divisibleby:3 %}
									<div class="card blue-grey lighten-4 hoverable">
									    <div class="card-image waves-effect waves-block waves-light">
									      <img class="activator" src="{{ obj.image}}">
									    </div>
									    <div class="card-content">
									    	<div class="row">
									      		<span class="activator center-align grey-text text-darken-4"> {{ obj.name}}</span>
									      	</div>
									      	<div class="divider"></div>
									      	<div class="row">
									      		<div class="col s6">
									      			<span class="right-align flow-text" style="color: {% if obj.similarity > 0.7 %}green{% elif obj.similarity > 0.3 %} orange{% else %}red{% endif %}"> {{ obj.similarity|mul:10|floatformat }}</span>
									      		</div>
									      	</div>

									      	<div class="row">
									      		<div class="col s6">
									      			<i class="fa fa-money left-align" aria-hidden="true"></i></i><span class="grey-text light text-darken-4"> Financing:
									      			<br>
									      			<small>¿Necesitarás financiar tus facturas?</small>	
									      		</div>
									      		<div class="col s6">
									      			<span class="right-align" style="color: {% if obj.factoring_preaprobado > 0 %}green{% else %}red{% endif %}"> {% if obj.factoring_preaprobado > 0 %} Te financiamos hasta  <a href="https://www.bancosantander.es/es/empresas-advance/productos-y-servicios/cobros/factoring" id="download-button" target="_blank" class="btn waves-effect waves-light transparent grey-text text-darken-4 border-grey"> {{ obj.factoring_preaprobado|floatformat|intcomma }}€ </a>  {% else %} Sin preaprobación {% endif %}</span>
									      		</div>
									      	</div>
										    <div class="card-action">
										    	<a class="blue-grey-text text-darken-3" href="{{ obj.get_absolute_url }}">Ver detalle</a>
										      	<span ><i class="material-icons right activator center">more_vert</i></span>
										    </div>
									    </div>
									    <div class="card-reveal">
									    	<span class="card-title">Actividad:<i class="material-icons right">close</i></span>
									    	<div class="row">
									      		<p class="grey-text text-darken-4">{{ obj.cnae_2 }}</p>
									      		<p class="grey-text text-darken-4">{{ obj.cnae }}</p>
									      	</div>
									      	<span class="card-title">Localización:</span>
									      	<div class="row">
									      		<p class="grey-text text-darken-4">{{ obj.territorial }}</p>
									      	</div>
									    </div>
									</div>

								{% endif %}
							{% endfor %}
							</div>

							<div class="col s12 m4 cards-container">
								{% for obj in recommended_providers %}

								{% if  forloop.counter|add:"-3"|divisibleby:3 %}
									<div class="card blue-grey lighten-4 hoverable">
									    <div class="card-image waves-effect waves-block waves-light">
									      <img class="activator" src="{{ obj.image}}">
									    </div>
									    <div class="card-content">
									    	<div class="row">
									      		<span class="activator center-align grey-text text-darken-4"> {{ obj.name}}</span>
									      	</div>
									      	<div class="divider"></div>
									      	<div class="row">
									      		<div class="col s6">
									      			<span class="right-align flow-text" style="color: {% if obj.similarity > 0.7 %}green{% elif obj.similarity > 0.3 %} orange{% else %}red{% endif %}"> {{ obj.similarity|mul:10|floatformat }}</span>
									      		</div>
									      	</div>

									      	<div class="row">
									      		<div class="col s6">
									      			<i class="fa fa-money left-align" aria-hidden="true"></i></i><span class="grey-text light text-darken-4"> Financing:
									      			<br>
									      			<small>¿Necesitarás financiar tus facturas?</small>	
									      		</div>
									      		<div class="col s6">
									      			<span class="right-align" style="color: {% if obj.factoring_preaprobado > 0 %}green{% else %}red{% endif %}"> {% if obj.factoring_preaprobado > 0 %} Te financiamos hasta  <a href="https://www.bancosantander.es/es/empresas-advance/productos-y-servicios/cobros/factoring" id="download-button" target="_blank" class="btn waves-effect waves-light transparent grey-text text-darken-4 border-grey"> {{ obj.factoring_preaprobado|floatformat|intcomma }}€ </a>  {% else %} Sin preaprobación {% endif %}</span>
									      		</div>
									      	</div>
										    <div class="card-action">
										    	<a class="blue-grey-text text-darken-3" href="{{ obj.get_absolute_url }}">Ver detalle</a>
										      	<span ><i class="material-icons right activator center">more_vert</i></span>
										    </div>
									    </div>
									    <div class="card-reveal">
									    	<span class="card-title">Actividad:<i class="material-icons right">close</i></span>
									    	<div class="row">
									      		<p class="grey-text text-darken-4">{{ obj.cnae_2 }}</p>
									      		<p class="grey-text text-darken-4">{{ obj.cnae }}</p>
									      	</div>
									      	<span class="card-title">Localización:</span>
									      	<div class="row">
									      		<p class="grey-text text-darken-4">{{ obj.territorial }}</p>
									      	</div>
									    </div>
									</div>

								{% endif %}
							{% endfor %}
						</div>

						</div>
				    	</div>
			    	</div>
	  			</div>

{% endblock %}

 {% block alt_js %}
<script type="text/javascript">

	$(document).ready(function(){

	});


</script>
{% endblock alt_js %}
