{% extends "app_base.html" %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block page_title %}
{{ company.name }}
{% endblock %}

{% block body_class %}background_grey{% endblock %}
{% block side-nav %}{% include "side-nav.html" %}{% endblock %}
{% block content %}
<div class="parallax-container">
		<h3 class="center-align black-text light">¿Qué hemos detectado y como podemos ayudar?</h3>
		<div class="row center black-text">{{company.name}}</div>
	    <div class="parallax"><img src="{% static 'images/hand_bw.jpg' %}"></div>
	</div>
	
<div class="mdl-card mdl-shadow--2dp">

      <div class="mdl-card__supporting-text">

        <div class="mdl-stepper-horizontal-alternative">
          
          <div class="mdl-stepper-step active-step step-done">
            <a href="{% url 'empresas:detail' pk=company.pk %}">
              <div class="mdl-stepper-circle"><span>1</span></div>
              <div class="mdl-stepper-title">Revisión cliente</div>
              <div class="mdl-stepper-bar-left"></div>
              <div class="mdl-stepper-bar-right"></div>
            </a>
          </div>
          
          <div class="mdl-stepper-step active-step step-done">
            <a href="{% url 'empresas:recommendations' %}">
              <div class="mdl-stepper-circle"><span>2</span></div>
              <div class="mdl-stepper-title">Clientes/Proveedores</div>
              <div class="mdl-stepper-optional">Comparativa</div>
              <div class="mdl-stepper-bar-left"></div>
              <div class="mdl-stepper-bar-right"></div>
            </a>
          </div>
          <div class="mdl-stepper-step active-step step-done">
            <a href="{% url 'empresas:recommendations_financial_risk' %}">
              <div class="mdl-stepper-circle"><span>3</span></div>
              <div class="mdl-stepper-title">Riesgos</div>
              <div class="mdl-stepper-optional">Comparativa</div>
              <div class="mdl-stepper-optional"></div>
              <div class="mdl-stepper-bar-left"></div>
              <div class="mdl-stepper-bar-right"></div>
            </a>
          </div>
          <div class="mdl-stepper-step active-step">
            <a href="{% url 'empresas:informe' %}">
              <div class="mdl-stepper-circle"><span>4</span></div>
              <div class="mdl-stepper-title">Recomendaciones</div>
              <div class="mdl-stepper-optional">Informe</div>
              <div class="mdl-stepper-bar-left"></div>
              <div class="mdl-stepper-bar-right"></div>
            </a>
          </div>
        </div>

      </div>

  </div>
  
	
	<div class="row">
				<div class="white_back title_conf">
			    	<h3 class="flow-text">  Acciones a realizar</h3>
			    </div>
		    	<div class="row title_conf">
		    	{% if company.id == 990 %}
		    		<div class="row">
						  <div class="col s12 m1"></div>
						  <div class="col s12 m5">
						    <p class="flow-text center-align">Diagnóstico</p>
						    <div class="card horizontal grey lighten-3 black-text">
						      <div class="card-stacked">
						        <div class="card-content">
						          <p>Situación de <strong>crecimiento sostenido</strong>, con buenos indicadores en sus estados financieros</p>
						        </div>
						        <div class="divider"></div>
						        <div class="card-content black-text">
						            <p><strong>Buena salud financiera</strong> según los modelos de riesgo internos de la entidad</p>
						          </div>
						        <div class="divider"></div>
						        <div class="card-content">
						          <p>Tiene un alto nivel de <strong>concentración geogràfica</strong> en sus clientes</p>
						        </div>
						        <div class="divider"></div>
						        <div class="card-content">
						          <p>Tiene un <strong>alto nivel de penetración en sus clientes</strong>, muy por encima del de su competencia</p>
						        </div>
						        <div class="divider"></div>
						        <div class="card-content">
						          <p>Tiene un <strong>ratio de endeudamiento inferior</strong> al de su competencia</p>
						        </div>
						        <div class="divider"></div>
						        <div class="card-content">
						          <p>Tiene un <strong>ratio de endeudamiento a corto muy por debajo</strong> de su competencia</p>
						        </div>
						      </div>
						    </div>

						  </div>
						  
						  <div class="col s12 m5">
						  <p class="flow-text center-align">Acción</p>
						    <div class="card horizontal grey lighten-3 black-text">
						      <div class="card-stacked">
						        <!-- <div class="card-content">
						          <p>El crecimiento sostenido permite, en caso de necesidad, ofrecer nuevos productos, y un incremento de los activos</p>
						        </div> -->
						        <div class="divider"></div>
						        <div class="card-content">
						          <p>Encontrar <strong>nuevos clientes</strong> en otras geografia para mitigar riesgos de concentración</p>
						        </div>
						        <div class="divider"></div>
						         <div class="card-content">
						          <p>Encontrar <strong>nuevos clientes</strong> por escaso margen de crecimiento en los clientes actuales con gran penetración</p>
						        </div>
						        <div class="divider"></div>
						        <div class="card-content">
						          <p>Solvencia contrastada, <strong>disponibilidad de preaprobación de financiación en productos de circulante</strong></p>
						        </div>
						        <!-- <div class="card-content">
						          <p>Para hacer frente a pagos o inversiones a corto, puede ser interessante ofrecerle algún <strong>producto de circulante</strong></p>
						        </div> -->
						        
						      </div>
						    </div>
						  </div>
						  <div class="col s12 m1"></div>
						</div>
				{% elif company.id == 1610 %}
		    		<div class="row">
						  <div class="col s12 m1"></div>
						  <div class="col s12 m5">
						    <p class="flow-text center-align">Diagnóstico</p>
						    <div class="card horizontal grey lighten-3 black-text">
						      <div class="card-stacked">
						      	<div class="card-content">
						          <p><strong>Crecimiento en facturación</strong>, pero en dificultades en su EBITDA y sus resultados de explotación</p>
						        </div>
						        <div class="divider"></div>
						        <div class="card-content">
						          <p>El <strong>ratio de días a cobrar / días a pagar está desbalanceado</strong> y es  peor que el de su competencia</p>
						        </div>
						        <div class="divider"></div>
						        <div class="card-content black-text">
						            <p><strong>Buena salud financiera</strong> según los modelos de riesgo internos de la entidad</p>
						        </div>
						        <div class="divider"></div>
						        <div class="card-content">
						          <p>Tiene un alto nivel de <strong>concentración geogràfica</strong> en sus clientes</p>
						        </div>
						        <div class="divider"></div>
						        <div class="card-content">
						          <p>Tiene un alto nivel de <strong>concentración geogràfica</strong> en sus proveedores</p>
						        </div>
						        <div class="divider"></div>
						        <div class="card-content">
						          <p>Tiene un <strong>ratio de endeudamiento inferior</strong> al de su competencia</p>
						        </div>
						        <div class="divider"></div>
						        <div class="card-content">
						          <p>Tiene un <strong>ratio de endeudamiento a corto por debajo</strong> de su competencia</p>
						        </div>
						      </div>
						    </div>

						  </div>
						  
						  <div class="col s12 m5">
						  <p class="flow-text center-align">Acción</p>
						    <div class="card horizontal grey lighten-3 black-text">
						      <div class="card-stacked">
						        <div class="card-content">
						          <p>Recomendar <strong>control del gasto</strong> para convertir el buen comportamiento en ventas en mejores estados financieros</p>
						        </div>
						        <div class="divider"></div>
						        <div class="card-content">
						        	<p>Gestión de las <strong>necesidades de working capital</strong> en vista de los ratios días a pagar  / días a cobrar</p>
						        </div>
						        <div class="divider"></div>
						        <div class="card-content">
						          <p>Encontrar <strong>nuevos clientes o proveedores</strong> en otras geografia para mitigar riesgos de concentración</p>
						        </div>
						        <div class="divider"></div>
						        <div class="card-content">
						          <p>Solvencia contrastada, <strong>disponibilidad de preaprobación de financiación en productos de circulante</strong></p>
						        </div>
						        </div>
						      </div>
						    </div>
						  </div>
						  <div class="col s12 m1"></div>
						</div>
					{% endif %}
		    	</div>
		    	<div class="row">
					<div class="col m2 s12"></div>
					<div class="col m3 s12">
						<span class="right-align"><a href="{% url 'empresas:clients' %}" id="download-button" target="_blank" class="btn waves-effect waves-light transparent grey-text text-darken-4 border-grey"> Nuevos clientes </a> </span>
					</div>
					<div class="col m3 s12">
						<span class="right-align"><a href="{% url 'empresas:providers' %}" id="download-button" target="_blank" class="btn waves-effect waves-light transparent grey-text text-darken-4 border-grey"> Nuevos proveedores </a> </span>
					</div>
					<div class="col m3 s12">
						<span class="right-align"><a href="https://www.bancsabadell.com/cs/Satellite/SabAtl/Lineas-de-credito/1191332198814/es/" id="download-button" target="_blank" class="btn waves-effect waves-light transparent grey-text text-darken-4 border-grey"> Accede a financiación </a> </span>
						<!-- https://www.bancosantander.es/es/empresas-advance/financiacion/financiacion-a-corto-plazo/financiacion-a-corto-plazo -->
					</div>
				</div>
				 <!-- /////////////////////////////////////////////////////////////
				 ////// ¿Como son mis clientes?
				 ///////////////////////////////////////////////////////////// -->

					<div class="white_back title_conf">
				    	<h3 class="flow-text">  Nuevos clientes a recomendar</h3>
				    </div>
			    	<div class="row title_conf">
			    	<!-- Resultado explotaciones -->
			    	<div class="row">
			    		<div id="cards_container">
		    			<div class="row">
				    		<div class="col s12 m4 cards-container">

							{% for obj in recommended_clients %}

								{% if  forloop.counter|add:"-1"|divisibleby:3 %}
									<div class="card blue-grey lighten-4 hoverable">
									    <div class="card-image waves-effect waves-block waves-light">
									      <img class="activator" src="{{ obj.image}}">
									    </div>
									    <div class="card-content">
									    	<div class="row">
									      		<span class="activator center-align grey-text text-darken-4"> {{ obj.name}}</span>
									      	</div>
									      	
										    <div class="card-action">
										    	<a class="blue-grey-text text-darken-3" href="{{ obj.get_absolute_url }}">Ver detalle</a>
										      	<span ><i class="material-icons right activator center">more_vert</i></span>
										    </div>
									    </div>
									    <div class="card-reveal">
									    	<span class="card-title">Actividad:<i class="material-icons right">close</i></span>
									    	<div class="row">
									      		<p class="grey-text text-darken-4">{{ obj.cnae_2 }}</p>
									      		<p class="grey-text text-darken-4">{{ obj.cnae }}</p>
									      	</div>
									      	<span class="card-title">Localización:</span>
									      	<div class="row">
									      		<p class="grey-text text-darken-4">{{ obj.territorial }}</p>
									      	</div>
									    </div>
									</div>

								{% endif %}
							{% endfor %}
							</div>

							<!-- =================== -->

							<div class="col s12 m4 cards-container">
								{% for obj in recommended_clients %}

								{% if  forloop.counter|add:"-2"|divisibleby:3 %}
									<div class="card blue-grey lighten-4 hoverable">
							    <div class="card-image waves-effect waves-block waves-light">
							      <img class="activator" src="{{ obj.image}}">
							    </div>
							    <div class="card-content">
							    	<div class="row">
							      		<span class="activator center-align grey-text text-darken-4"> {{ obj.name}}</span>
							      	</div>
							      	
								    <div class="card-action">
								    	<a class="blue-grey-text text-darken-3" href="{{ obj.get_absolute_url }}">Ver detalle</a>
								      	<span ><i class="material-icons right activator center">more_vert</i></span>
								    </div>
							    </div>
							    <div class="card-reveal">
							    	<span class="card-title">Actividad:<i class="material-icons right">close</i></span>
							    	<div class="row">
							      		<p class="grey-text text-darken-4">{{ obj.cnae_2 }}</p>
							      		<p class="grey-text text-darken-4">{{ obj.cnae }}</p>
							      	</div>
							      	<span class="card-title">Localización:</span>
							      	<div class="row">
							      		<p class="grey-text text-darken-4">{{ obj.territorial }}</p>
							      	</div>
							    </div>
							</div>

								{% endif %}
							{% endfor %}
							</div>

							<div class="col s12 m4 cards-container">
								{% for obj in recommended_clients %}

								{% if  forloop.counter|add:"-3"|divisibleby:3 %}
									<div class="card blue-grey lighten-4 hoverable">
							    <div class="card-image waves-effect waves-block waves-light">
							      <img class="activator" src="{{ obj.image}}">
							    </div>
							    <div class="card-content">
							    	<div class="row">
							      		<span class="activator center-align grey-text text-darken-4"> {{ obj.name}}</span>
							      	</div>
							      	
								    <div class="card-action">
								    	<a class="blue-grey-text text-darken-3" href="{{ obj.get_absolute_url }}">Ver detalle</a>
								      	<span ><i class="material-icons right activator center">more_vert</i></span>
								    </div>
							    </div>
							    <div class="card-reveal">
							    	<span class="card-title">Actividad:<i class="material-icons right">close</i></span>
							    	<div class="row">
							      		<p class="grey-text text-darken-4">{{ obj.cnae_2 }}</p>
							      		<p class="grey-text text-darken-4">{{ obj.cnae }}</p>
							      	</div>
							      	<span class="card-title">Localización:</span>
							      	<div class="row">
							      		<p class="grey-text text-darken-4">{{ obj.territorial }}</p>
							      	</div>
							    </div>
							</div>

								{% endif %}
							{% endfor %}
						</div>

						</div>
				    	</div>
			    	</div>
			    </div>
			    <!-- /////////////////////////////////////////////////////////////
				 ////// ¿Cómo me relaciono con ellos?
				 ///////////////////////////////////////////////////////////// -->

			    <div class="white_back title_conf">
			    	<h3 class="flow-text">  Nuevos proveedores a recomendar</h3>
			    </div>
		    	<div class="row title_conf">

		            <!-- Resultado explotaciones -->
			    	<div class="row">
			    		<div id="cards_container">
		    			<div class="row">
				    		<div class="col s12 m4 cards-container">

							{% for obj in recommended_providers %}

								{% if  forloop.counter|add:"-1"|divisibleby:3 %}
									

									<div class="card blue-grey lighten-4 hoverable">
									    <div class="card-image waves-effect waves-block waves-light">
									      <img class="activator" src="{{ obj.image}}">
									    </div>
									    <div class="card-content">
									    	<div class="row">
									      		<span class="activator center-align grey-text text-darken-4"> {{ obj.name}}</span>
									      	</div>
									      	
										    <div class="card-action">
										    	<a class="blue-grey-text text-darken-3" href="{{ obj.get_absolute_url }}">Ver detalle</a>
										      	<span ><i class="material-icons right activator center">more_vert</i></span>
										    </div>
									    </div>
									    <div class="card-reveal">
									    	<span class="card-title">Actividad:<i class="material-icons right">close</i></span>
									    	<div class="row">
									      		<p class="grey-text text-darken-4">{{ obj.cnae_2 }}</p>
									      		<p class="grey-text text-darken-4">{{ obj.cnae }}</p>
									      	</div>
									      	<span class="card-title">Localización:</span>
									      	<div class="row">
									      		<p class="grey-text text-darken-4">{{ obj.territorial }}</p>
									      	</div>
									    </div>
									</div>

								{% endif %}
							{% endfor %}
							</div>

							<!-- =================== -->

							<div class="col s12 m4 cards-container">
								{% for obj in recommended_providers %}

								{% if  forloop.counter|add:"-2"|divisibleby:3 %}
									<div class="card blue-grey lighten-4 hoverable">
									    <div class="card-image waves-effect waves-block waves-light">
									      <img class="activator" src="{{ obj.image}}">
									    </div>
									    <div class="card-content">
									    	<div class="row">
									      		<span class="activator center-align grey-text text-darken-4"> {{ obj.name}}</span>
									      	</div>
									      	
										    <div class="card-action">
										    	<a class="blue-grey-text text-darken-3" href="{{ obj.get_absolute_url }}">Ver detalle</a>
										      	<span ><i class="material-icons right activator center">more_vert</i></span>
										    </div>
									    </div>
									    <div class="card-reveal">
									    	<span class="card-title">Actividad:<i class="material-icons right">close</i></span>
									    	<div class="row">
									      		<p class="grey-text text-darken-4">{{ obj.cnae_2 }}</p>
									      		<p class="grey-text text-darken-4">{{ obj.cnae }}</p>
									      	</div>
									      	<span class="card-title">Localización:</span>
									      	<div class="row">
									      		<p class="grey-text text-darken-4">{{ obj.territorial }}</p>
									      	</div>
									    </div>
									</div>

								{% endif %}
							{% endfor %}
							</div>

							<div class="col s12 m4 cards-container">
								{% for obj in recommended_providers %}

								{% if  forloop.counter|add:"-3"|divisibleby:3 %}
									<div class="card blue-grey lighten-4 hoverable">
									    <div class="card-image waves-effect waves-block waves-light">
									      <img class="activator" src="{{ obj.image}}">
									    </div>
									    <div class="card-content">
									    	<div class="row">
									      		<span class="activator center-align grey-text text-darken-4"> {{ obj.name}}</span>
									      	</div>
									      	
										    <div class="card-action">
										    	<a class="blue-grey-text text-darken-3" href="{{ obj.get_absolute_url }}">Ver detalle</a>
										      	<span ><i class="material-icons right activator center">more_vert</i></span>
										    </div>
									    </div>
									    <div class="card-reveal">
									    	<span class="card-title">Actividad:<i class="material-icons right">close</i></span>
									    	<div class="row">
									      		<p class="grey-text text-darken-4">{{ obj.cnae_2 }}</p>
									      		<p class="grey-text text-darken-4">{{ obj.cnae }}</p>
									      	</div>
									      	<span class="card-title">Localización:</span>
									      	<div class="row">
									      		<p class="grey-text text-darken-4">{{ obj.territorial }}</p>
									      	</div>
									    </div>
									</div>

								{% endif %}
							{% endfor %}
						</div>

						</div>
				    	</div>
			    	</div>
	  			</div>

{% endblock %}

 {% block alt_js %}
<script type="text/javascript">

	$(document).ready(function(){

	});


</script>
{% endblock alt_js %}
