{% extends "app_base.html" %}
{% load static %}
{% block page_title %}
{{ company.name }}
{% load humanize %}
{% endblock %}

{% block body_class %}background_grey{% endblock %}

{% block content %}

	<div class="parallax-container">
		<h3 class="center-align white-text light">{{ company.name }}</h3>
	    <div class="parallax"><img src="{% static 'images/hero-area.jpg' %}"></div>
	</div>

	<div class="row">

			

		        
	      <div class="col s12 m12">
	      	<div class="row">

			    <div class="col s12">
			      <ul class="tabs grey-text">
			        <li class="tab col s3 grey-text"><a class="active" href="#tab1">Your clients</a></li>
			        <li class="tab col s3 grey-text"><a href="#tab2">Your providers</a></li>
			      </ul>
			    </div>

			    <div id="tab1" class="col s12">
			    	<div class="row">
		      	  		<div class="col s12 m2">
				          <div class="card tiny blue-grey darken-1">
				            <div class="card-content white-text">
				              <span class="card-title">Clients</span>
				              <h3 class="align-right orange-text darken-1">{{company.get_clients.count}}</h3>
				            </div>
				          </div>
				        </div>

				        <div class="col s12 m2">
				          <div class="card tiny blue-grey darken-1">
				            <div class="card-content white-text">
				              <span class="card-title">Sector</span>
				              <h3 class="align-right orange-text darken-1">{{company.get_sector_companies.count}}</h3>
				            </div>
				          </div>
				        </div>

				        <div class="col s12 m2">
				          <div class="card tiny blue-grey darken-1">
				            <div class="card-content white-text">
				              <span class="card-title">Cobro medio</span>
				              <h3 class="align-right orange-text darken-1">{{company.average_transfer_from_client|floatformat:0|intcomma}}€</h3>
				            </div>
				          </div>
				        </div>

				        <div class="col s12 m2">
				          <div class="card tiny blue-grey darken-1">
				            <div class="card-content white-text">
				              <span class="card-title"># Cobros</span>
				              <h3 class="align-right orange-text darken-1">{{company.destination_reference.count|floatformat:0|intcomma}}</h3>
				            </div>
				          </div>
				        </div>
				    </div>
			    	<p class="flow-text">Concentration</p>
			    	<div class="divider"></div>

			    	<!-- Concentración geográfica -->
			    	<div class="row">
			    		<div class="col m3 s12 center-align">
			    			<h5 class="center-align">You</h5>
			    		</div>
			    		<div class="col m3 s12 center-align">
			    			<h5 class="center-align">Sector average</h5>
			    		</div>
			    		<div class="col m6 s12 center-align">
			    			<h5 class="center-align">Recommendation</h5>
			    		</div>
			    	</div>
			    	<div class="row">
			    		<div class="col m3 s12">
			    			<div class="card grey lighten-4">
					            <div class="card-content grey-text darken-4">
					              <canvas id="your_geo_concentration_clients" width="200" height="200"></canvas>
					            </div>
					          </div>
			    		</div>
			    		<div class="col m3 s12">
			    			<div class="card grey lighten-4">
					            <div class="card-content grey-text darken-4">
					              <canvas id="mean_geo_concentration_clients" width="200" height="200"></canvas>
					            </div>
					        </div>
			    		</div>
			    		<div class="col m6 s12">
			    			<blockquote>
			    				<h5 class="">Geographical</h5>
			    				<p class="light"><i class="tiny material-icons indigo-text darken-4">live_help</i> Geographical clients measures the degree of internationalization and diversification by region</p>
			    				<p class="light"><i class="tiny material-icons indigo-text darken-4">new_releases</i> <span class="bold"> Hint:</span> Try to overcome this concentration by finding more clients outside of your region. <a href="">Do you want us to find them for you?</a> </p>
			    				<p class="light"><i class="tiny material-icons indigo-text darken-4">info</i> You are part of the 20% with the higher risk of geographical concentration of your sector </p>
			    			</blockquote>
			    		</div>
			    	</div>

			    	<!-- Concentración sectorial de clientes -->
			    	<div class="row">
			    		<div class="col m3 s12">
			    			<div class="card grey lighten-4">
					            <div class="card-content grey-text darken-4">
					              <canvas id="your_sector_concentration_clients" width="200" height="200"></canvas>
					            </div>
					          </div>
			    		</div>
			    		<div class="col m3 s12">
			    			<div class="card grey lighten-4">
					            <div class="card-content grey-text darken-4">
					              <canvas id="mean_sector_concentration_clients" width="200" height="200"></canvas>
					            </div>
					        </div>
			    		</div>
			    		<div class="col m6 s12">
			    			<blockquote>
			    				<h5 class="">Sectorial</h5>
			    				<p class="light"><i class="tiny material-icons indigo-text darken-4">live_help</i> Geographical clients measures the degree of internationalization and diversification by region</p>
			    				<p class="light"><i class="tiny material-icons indigo-text darken-4">new_releases</i> <span class="bold"> Hint:</span> Try to overcome this concentration by finding more clients outside of your region. <a href="">Do you want us to find them for you?</a> </p>
			    				<p class="light"><i class="tiny material-icons indigo-text darken-4">info</i> You are part of the 20% with the higher risk of geographical concentration of your sector </p>
			    			</blockquote>
			    		</div>
			    	</div>

			    	<p class="flow-text">Loyalty</p>
			    	<div class="divider"></div>
			    	<div class="row">
			    		<div class="col m3 s12">
			    			<div class="card grey lighten-4">
					            <div class="card-content grey-text darken-4">
					              <span class="card-title">Your clients loyalty</span>
					              <canvas id="your_loyalty" width="200" height="200"></canvas>
					            </div>
					          </div>
			    		</div>
			    		<div class="col m3 s12">
			    			<div class="card grey lighten-4">
					            <div class="card-content grey-text darken-4">
					              <span class="card-title">Average of the sector</span>
					              <canvas id="mean_loyalty" width="200" height="200"></canvas>
					            </div>
					        </div>
			    		</div>
			    		<div class="col m6 s12">
			    			<blockquote>
			    				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
			    			</blockquote>
			    		</div>
			    	</div>

			    </div>
			    <div id="tab2" class="col s12">
			    	<div class="row">
		      	  		<div class="col s12 m2">
				          <div class="card tiny blue-grey darken-1">
				            <div class="card-content white-text">
				              <span class="card-title">Providers</span>
				              <h3 class="align-right orange-text darken-1">{{company.get_providers.count}}</h3>
				            </div>
				          </div>
				        </div>

				        <div class="col s12 m2">
				          <div class="card tiny blue-grey darken-1">
				            <div class="card-content white-text">
				              <span class="card-title">Sector</span>
				              <h3 class="align-right orange-text darken-1">{{company.get_sector_companies.count}}</h3>
				            </div>
				          </div>
				        </div>

				        <div class="col s12 m2">
				          <div class="card tiny blue-grey darken-1">
				            <div class="card-content white-text">
				              <span class="card-title">Pago medio</span>
				              <h3 class="align-right orange-text darken-1">{{company.average_transfer_to_provider|floatformat:0|intcomma}}€</h3>
				            </div>
				          </div>
				        </div>

				        <div class="col s12 m2">
				          <div class="card tiny blue-grey darken-1">
				            <div class="card-content white-text">
				              <span class="card-title"># Pagos</span>
				              <h3 class="align-right orange-text darken-1">{{company.transfers.count|floatformat:0|intcomma}}</h3>
				            </div>
				          </div>
				        </div>

				    </div>
			    	<p class="flow-text">Concentration</p>
			    	<div class="divider"></div>

			    	<!-- Concentración geográfica -->
			    	<div class="row">
			    		<div class="col m3 s12 center-align">
			    			<h5 class="center-align">You</h5>
			    		</div>
			    		<div class="col m3 s12 center-align">
			    			<h5 class="center-align">Sector average</h5>
			    		</div>
			    		<div class="col m6 s12 center-align">
			    			<h5 class="center-align">Recommendation</h5>
			    		</div>
			    	</div>
			    	<!-- Concentración por facturación de clientes -->
			    	<div class="row">
			    		<div class="col m3 s12">
			    			<div class="card grey lighten-4">
					            <div class="card-content grey-text darken-4">
					              <canvas id="your_geo_concentration_providers" width="200" height="200"></canvas>
					            </div>
					          </div>
			    		</div>
			    		<div class="col m3 s12">
			    			<div class="card grey lighten-4">
					            <div class="card-content grey-text darken-4">
					              <canvas id="mean_geo_concentration_providers" width="200" height="200"></canvas>
					            </div>
					        </div>
			    		</div>
			    		<div class="col m6 s12">
			    			<blockquote>
			    				<h5 class="">Geographical</h5>
			    				<p class="light"><i class="tiny material-icons indigo-text darken-4">live_help</i> Geographical providers measures the degree of internationalization and diversification by region of your providers</p>
			    				<p class="light"><i class="tiny material-icons indigo-text darken-4">new_releases</i> <span class="bold"> Hint:</span> Try to overcome this concentration by finding more providers outside of your region. <a href="">Do you want us to find them for you?</a> </p>
			    				<p class="light"><i class="tiny material-icons indigo-text darken-4">info</i> You are part of the 20% with the higher risk of geographical concentration of your sector </p>
			    			</blockquote>
			    		</div>
			    	</div>

			    	<!-- Concentración sectorial de clientes -->
			    	<div class="row">
			    		<div class="col m3 s12">
			    			<div class="card grey lighten-4">
					            <div class="card-content grey-text darken-4">
					              <canvas id="your_sector_concentration_providers" width="200" height="200"></canvas>
					            </div>
					          </div>
			    		</div>
			    		<div class="col m3 s12">
			    			<div class="card grey lighten-4">
					            <div class="card-content grey-text darken-4">
					              <canvas id="mean_sector_concentration_providers" width="200" height="200"></canvas>
					            </div>
					        </div>
			    		</div>
			    		<div class="col m6 s12">
			    			<blockquote>
			    				<h5 class="">Sectorial</h5>
			    				<p class="light"><i class="tiny material-icons indigo-text darken-4">live_help</i> Geographical providers measures the degree of internationalization and diversification by region of your providers</p>
			    				<p class="light"><i class="tiny material-icons indigo-text darken-4">new_releases</i> <span class="bold"> Hint:</span> Try to overcome this concentration by finding more providers outside of your region. <a href="">Do you want us to find them for you?</a> </p>
			    				<p class="light"><i class="tiny material-icons indigo-text darken-4">info</i> You are part of the 20% with the higher risk of geographical concentration of your sector </p>
			    			</blockquote>
			    		</div>
			    	</div>
			    	<p class="flow-text">Loyalty</p>
			    </div>
			</div>
	      </div>
	  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script>

<script type="text/javascript">

	Chart.defaults.global.legend.display = false;
	// And for a doughnut chart
  	var my_geo_clients = document.getElementById("your_geo_concentration_clients");
  	var mean_geo_clients = document.getElementById("mean_geo_concentration_clients");
  	var my_geo_providers = document.getElementById("your_geo_concentration_providers");
  	var mean_geo_providers = document.getElementById("mean_geo_concentration_providers");
  	var your_sector_concentration_clients = document.getElementById("your_sector_concentration_clients");
  	var your_sector_concentration_providers = document.getElementById("your_sector_concentration_providers");
  	var mean_sector_concentration_clients = document.getElementById("mean_sector_concentration_clients");
  	var mean_sector_concentration_providers = document.getElementById("mean_sector_concentration_providers");
  	

  	donut(my_geo_clients, {{ territoriales_clientes }}, ["In your region","Outside your region"]);
  	donut(my_geo_providers, {{ territoriales_proveedores }}, ["In your region","Outside your region"]);
  	donut(mean_geo_concentration_clients, {{ sector_territoriales_clientes }}, ["In your region","Outside your region"]);
  	donut(mean_geo_concentration_providers, {{ sector_territoriales_proveedores }}, ["In your region","Outside your region"]);
  	donut(your_sector_concentration_clients, {{ counts_sectores_clients }}, {{sectores_clients|safe}});
  	donut(your_sector_concentration_providers, {{ counts_sectores_providers }}, {{sectores_providers|safe}});
  	donut(mean_sector_concentration_clients, {{ mean_counts_sectores_clients }}, {{mean_sectores_clients|safe}});
  	donut(mean_sector_concentration_providers, {{ mean_counts_sectores_providers }}, {{mean_sectores_providers|safe}});

  	function donut(div, data, labels)
        {
           var myDoughnutChart = new Chart(div, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [
                    {
                        data: data,
                        backgroundColor: [
                            'rgba(128,128,128, 0.5)',
                            'rgba(47,79,79, 0.5)',
                            'rgba(119,136,153, 0.5)',
                            'rgba(192,192,192, 0.5)',
		                    'rgba(169,180,169, 0.5)',
		                    'rgba(128,128,128, 0.5)',
                    		'rgba(220,220,220, 0.5)',
                        ],
                        hoverBackgroundColor: [
                            'rgba(128,128,128, 1)',
                            'rgba(47,79,79, 1)',
                            'rgba(119,136,153, 1)',
                            'rgba(192,192,192, 1)',
		                    'rgba(169,180,169, 1)',
		                    'rgba(128,128,128, 1)',
                    		'rgba(220,220,220, 1)',
                        ]
                    }]
            },
            animation:{
                animateScale:true
            }
        });
        }
</script>
{% endblock %}

 {% block alt_js %}
<script type="text/javascript">

	$(document).ready(function(){
  		$('ul.tabs').tabs();
	});


</script>
{% endblock alt_js %}
