{% extends "app_base.html" %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block page_title %}
Home - {{ company.name }}
{% endblock %}

{% block body_class %}background_grey{% endblock %}
{% block side-nav %}{% include "side-nav.html" %}{% endblock %}
{% block content %}

<div class="parallax-container">
	<!-- <h3 class="center-align grey-text text-darken-3 light">Rocky clients are not all the same</h3> -->
	<h3 class="center-align light white-text">Linia zero de defensa</h3>
	<h5 class="center-align light white-text">{{company.name}}</h5>
	<div class="parallax"><img src="{% static 'images/free-diving.jpg' %}"></div>
</div>
<div class="white_back title_conf">
	<h4 class="flow-text">  Tu perfil - Esta es tu información básica mostrada </h4>
</div>

<div class="row container">
      <div class="col s9">
          <h4>{{ empresa.name }}</h4>
      </div>
      <div class="col s3">
          {% if referrer == 'client' %}
          <p>
            <input type="checkbox" id="add_client" class="right large" name="opportunity" {% if checked_client == 1 %} checked="checked" {% endif %}/>
            <label for="add_client" class="valign">Guardar cliente</label>
            <span id="client_response"></span>
          </p>
          {% elif referrer == 'provider' %}
          <p>
            <input type="checkbox" id="add_provider" class="right large" name="opportunity" {% if checked_providers == 1 %} checked="checked" {% endif %}/>
            <label for="add_provider" class="valign">Guardar proveedor</label>
            <span id="provider_response"></span>
          </p>
          {% endif %}
      </div>
  </div>
  <div class="row container">
      <div class="col s12 m3">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Ejercicio</span>
            {% if empresa.estados_financieros.last.ejercicio > 0 %}
            <h5 class="align-right orange-text darken-1">{{empresa.estados_financieros.last.ejercicio }}</h5>
            {% else %}
            <h5 class="align-right orange-text darken-1">Sin balances</h5>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Ventas</span>
            {% if empresa.estados_financieros.last.ventas > 0 %}
            <h5 class="align-right orange-text darken-1">{{empresa.estados_financieros.last.ventas|floatformat|intcomma}}€</h5>
            {% else %}
            <h5 class="align-right orange-text darken-1">-</h5>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">EBITDA</span>
            {% if empresa.estados_financieros.last.ebitda > 0 %}
            <h5 class="align-right orange-text darken-1">{{empresa.estados_financieros.last.ebitda|floatformat|intcomma}}€</h5>
            {% else %}
            <h5 class="align-right orange-text darken-1">-</h5>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Comparables</span>
            <h5 class="align-right orange-text darken-1">{{company.get_sector_companies.count}}</h5>
          </div>
        </div>
      </div>
    </div>

  <div class="row container">
      <div class="col s12 m6">
          <h5>Detalles de contacto</h5>
          <div><i class="tiny material-icons">contacts</i> {{empresa.name}} | {{empresa.contact_person}}</div>  
          <div><i class="tiny material-icons">email</i> {{empresa.email}}</div>
          <div><i class="tiny material-icons">location_on</i>{{empresa.address}}</div>   
          <div><i class="tiny material-icons">call</i> {{empresa.phone}}</div>   
          <div><i class="tiny material-icons">business</i> Sector: {{ empresa.sector }}</div>   
          <div><i class="tiny material-icons">info</i> CNAE: {{ empresa.cnae_2 }}</div>  
          <div><i class="tiny material-icons">schedule</i> Created in {{ empresa.creation_date }}</div>
          <div class="right-align"><a href="mailto:{{empresa.email}}?Subject=Hello%20{{empresa.name}}" target="_top" class="btn-large waves-effect waves-light right-align"><i class="material-icons right">email</i>Contacto</a></div>
      </div>
      <div class="col s12 m6">
          <div id="map"> </div>
      </div>
  </div>

<div class="white_back title_conf">
	<h4 class="flow-text">  Gestiona tus riesgos - ¿Cuáles son tus principales exposiciones? </h4>
</div>
<div class="padding_landing" >
	<div class="row">
		<div class="col s12 m11">
			<div class="row">
				<div class="col s12 m2 center-align">
					<a href="{% url 'empresas:detail' pk=company.pk %}" id="download-button" class="btn-large waves-effect waves-light transparent red-text text-darken-3 border-grey" style="margin-left: 80px;"" >Negocio </a>
				</div>
				<div class="col s12 m3 center-align">
					<a href="{% url 'empresas:recommendations' %}" id="download-button" class="btn-large waves-effect waves-light transparent green-text text-darken-3 border-grey" style="margin-left: 60px;">Cliente</a>
				</div>
				<div class="col s12 m3 center-align">
					<a href="{% url 'empresas:recommendations_providers' %}" id="download-button" class="btn-large waves-effect waves-light transparent blue-text text-darken-3 border-grey" style="margin-left: 0px;">Proveedor</a>
				</div>
				<div class="col s12 m4 center-align">
					<a href="{% url 'empresas:recommendations_financial_risk' %}" id="download-button" class="btn-large waves-effect waves-light transparent orange-text text-darken-3 border-grey" style="margin-right: 20px;">Financiero </a>
				</div>
			</div>
		</div>
		<div class="col s12 m1"></div>
		
	</div>
	<div class="row">
		<div class="col s12 m1"></div>
		<div class="col s12 m10">
			<div id="sketch-holder">
			    <!-- Our sketch will go here! -->
			</div>
		</div>
		<div class="col s12 m1"></div>
		
	</div>
	<div class="row">
		<div class="col s12 m1"></div>
	    <div class="col s12 m5">
	      <div class="card horizontal green lighten-2">
	        <div class="card-stacked">
	        <div class="card-content black-text">
	            <p id="puntos_fuertes">Buena <strong>diversificación de sus compras</strong> en un gran número de proveedores</p>
	          </div>
	        </div>
	      </div>
	    </div>
		    
	    <div class="col s12 m5">
	      <div class="card horizontal grey lighten-3">
	        <div class="card-stacked">
	          <div class="card-content black-text">
	            <p id="puntos_mejorar">Baja <strong>diversificación de sus ventas</strong>, efectuadas en muy pocas provincias</p>
	          </div>
	          </div>
	        </div>
	    </div>
	    <div class="col s12 m1"></div>
	</div>
	
</div>

<!-- <div class="white_back title_conf">
	<h4 class="flow-text">  Noticias - Conoce las novedades de tu red y sigue informado de las notícias mas relevantes </h4>
</div> -->

<div class="row">
	<div class="col s12 m1"></div>
	<div class="col s12 m5">
		<p class="flow-text center-align">En tu red</p>
		<ul class="collection" style="height: 338px; overflow:auto;">
		    <li class="collection-item avatar">
		      <i class="material-icons circle red">play_arrow</i>
		      <span class="title">Tus clientes están aumentado sus ventas esta semana</span>
		      <p>Están un 5% por encima de su media anual <br>
		         <small>10/03/2017</small>
		      </p>
		      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
		    </li>
		    <li class="collection-item avatar">
		      <i class="material-icons circle">folder</i>
		      <span class="title">Title</span>
		      <p>First Line <br>
		         Second Line
		      </p>
		      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
		    </li>
		    <li class="collection-item avatar">
		      <i class="material-icons circle green">insert_chart</i>
		      <span class="title">Title</span>
		      <p>First Line <br>
		         Second Line
		      </p>
		      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
		    </li>
		    <li class="collection-item avatar">
		      <i class="material-icons circle red">play_arrow</i>
		      <span class="title">Tus clientes están aumentado sus ventas esta semana</span>
		      <p>Están un 5% por encima de su media anual <br>
		         <small>10/03/2017</small>
		      </p>
		      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
		    </li>
		    <li class="collection-item avatar">
		      <i class="material-icons circle red">play_arrow</i>
		      <span class="title">Title</span>
		      <p>First Line <br>
		         Second Line
		      </p>
		      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
		    </li>
		    <li class="collection-item avatar">
		      <i class="material-icons circle red">play_arrow</i>
		      <span class="title">Tus clientes están aumentado sus ventas esta semana</span>
		      <p>Están un 5% por encima de su media anual <br>
		         <small>10/03/2017</small>
		      </p>
		      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
		    </li>
		  </ul>
	</div>

	<div class="col s12 m5">
		<div style="">
		<p class="flow-text center-align">Notícias destacadas</p>
		<ul class="collection" style="height: 338px; overflow:auto;">
		    <li class="collection-item avatar">
		      <img src="{% static 'images/expansion-logo.jpg' %}" alt="" class="circle">
		      <span class="title">Title</span>
		      <p>First Line <br>
		         Second Line
		      </p>
		      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
		    </li>
		    <li class="collection-item avatar">
		    	<img src="{% static 'images/WSJ.png' %}" alt="" class="circle">
		      <span class="title">Title</span>
		      <p>First Line <br>
		         Second Line
		      </p>
		      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
		    </li>
		    <li class="collection-item avatar">
		    	<img src="{% static 'images/promo_og_elpais.png' %}" alt="" class="circle">
		      <span class="title">Title</span>
		      <p>First Line <br>
		         Second Line
		      </p>
		      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
		    </li>
		    <li class="collection-item avatar">
		      <img src="{% static 'images/expansion-logo.jpg' %}" alt="" class="circle">
		      <span class="title">Title</span>
		      <p>First Line <br>
		         Second Line
		      </p>
		      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
		    </li>
		    <li class="collection-item avatar">
		    	<img src="{% static 'images/promo_og_elpais.png' %}" alt="" class="circle">
		      <span class="title">Title</span>
		      <p>First Line <br>
		         Second Line
		      </p>
		      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
		    </li>
		    <li class="collection-item avatar">
		    	<img src="{% static 'images/WSJ.png' %}" alt="" class="circle">
		      <span class="title">Title</span>
		      <p>First Line <br>
		         Second Line
		      </p>
		      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
		    </li>
		    <li class="collection-item avatar">
		      <img src="{% static 'images/cinco_dias.jpeg' %}" alt="" class="circle">
		      <span class="title">Title</span>
		      <p>First Line <br>
		         Second Line
		      </p>
		      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
		    </li>
		    <li class="collection-item avatar">
		      <img src="{% static 'images/expansion-logo.jpg' %}" alt="" class="circle">
		      <span class="title">Title</span>
		      <p>First Line <br>
		         Second Line
		      </p>
		      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
		    </li>
		    <li class="collection-item avatar">
		    	<img src="{% static 'images/WSJ.png' %}" alt="" class="circle">
		      <span class="title">Title</span>
		      <p>First Line <br>
		         Second Line
		      </p>
		      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
		    </li>
		    <li class="collection-item avatar">
		    	<img src="{% static 'images/promo_og_elpais.png' %}" alt="" class="circle">
		      <span class="title">Title</span>
		      <p>First Line <br>
		         Second Line
		      </p>
		      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
		    </li>
		    <li class="collection-item avatar">
		      <img src="{% static 'images/expansion-logo.jpg' %}" alt="" class="circle">
		      <span class="title">Title</span>
		      <p>First Line <br>
		         Second Line
		      </p>
		      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
		    </li>
		    <li class="collection-item avatar">
		    	<img src="{% static 'images/promo_og_elpais.png' %}" alt="" class="circle">
		      <span class="title">Title</span>
		      <p>First Line <br>
		         Second Line
		      </p>
		      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
		    </li>
		    <li class="collection-item avatar">
		    	<img src="{% static 'images/WSJ.png' %}" alt="" class="circle">
		      <span class="title">Title</span>
		      <p>First Line <br>
		         Second Line
		      </p>
		      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
		    </li>
		    <li class="collection-item avatar">
		      <img src="{% static 'images/cinco_dias.jpeg' %}" alt="" class="circle">
		      <span class="title">Title</span>
		      <p>First Line <br>
		         Second Line
		      </p>
		      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
		    </li>
		  </ul>
		</div>
	</div>
	<div class="col s12 m1"></div>
</div>
<div class="white_back title_conf">
	<h4 class="flow-text">  Marketplace - Accede a nuestras recomendaciones personalizadas </h4>
</div>
	<div class="row container padding_landing">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'images/rocks.jpg' %}">
              <span class="card-title black-text">Clientes recomendados</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'images/supplier.jpg' %}">
              <span class="card-title">Proveedores recomendados</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
</div>

  {% include "footer.html" %}

<script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.7/p5.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.7/addons/p5.dom.min.js"></script>
<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
<script src="{% static 'js/sketch.js' %}"></script>
{% endblock %}

 {% block alt_js %}

<script type="text/javascript">

	// var map = L.map('map').setView([41.3931129,2.1448724], 15);
	//         mapLink = 
	//             '<a href="http://openstreetmap.org">OpenStreetMap</a>';
	//         L.tileLayer(
	//             'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
	//             attribution: '&copy; ' + mapLink + ' Contributors',
	//             maxZoom: 18,
	//     }).addTo(map);

	var img = [];
	var x_perc = [0,0,0,0];
	var total = 0;
	var y_perc = [[]];
	var risc_data;
	var mejorar;
	var fuertes;
	elements = []

	function setup() {
		var parent_width = document.getElementById('sketch-holder').offsetWidth;
		var parent_height = document.getElementById('sketch-holder').offsetHeight;
		fuertes = select('#puntos_fuertes')
		mejorar = select('#puntos_mejorar')

		canvas = createCanvas(parent_width, windowHeight/3*2);
		canvas.parent('sketch-holder');
		loadJSON("/empresas/get_data_mekko/", drawMekko);
	}

	function draw() {
		cursor(ARROW);
	  	background(237, 243, 249);
	  	frameRate(30);
	  	fuertes.html("Buena <strong>diversificación de sus compras</strong> en un gran número de proveedores")
	  	mejorar.html("Baja <strong>diversificación de sus ventas</strong>, efectuadas en muy pocas provincias")
	  	for (var i = 0; i < elements.length; i = i + 1) {
	  		if (elements[i].height > 0) {
	  			elements[i].draw();
	  		}
	  		if (elements[i].mouseOn()) {
	  			cursor(HAND);
	  			fuertes.html("Estas posicionado encima de <strong>"+ elements[i].label +"</strong>, aquí van a ir sus puntos fuertes")
	  			mejorar.html("Estas posicionado encima de <strong>"+ elements[i].label +"</strong>, aquí van a ir sus puntos a mejorar")
	  		}
	  	}
	}

	function windowResized() {
		var parent_width = document.getElementById('sketch-holder').offsetWidth;
	  	resizeCanvas(parent_width, windowHeight);
	}

	// --------------------------------------------------------
	// Mekko element Object
	// --------------------------------------------------------
	function MekkoElement(x, y, w, h, label, img, col, alpha) {
		this.offset = 0
		this.x = x,
		this.y = y,
		this.width = w,
		this.height = h,
		this.label = label.replace("Riesgo ", "");
		this.alpha_col = alpha

		if (col==0) {
			this.color = color(255,0,0, this.alpha_col)
		} else if (col==1) {
			this.color = color(0,255,0, this.alpha_col)
		} else if (col==2) {
			this.color = color(0,0,255, this.alpha_col)
		} else if (col==3) {
			this.color = color(255,255,0, this.alpha_col)
		}

		this.mouseOn = function() {
			if (mouseX >this.x && mouseX < (this.x + this.width) && mouseY > this.y && mouseY < (this.y + this.height)) {
				return true;
			} else {
				return false;
			}
		}

		this.draw = function() {
			if (this.mouseOn()) {
				//image(img, this.x + this.offset/2, this.y + this.offset/2, this.width - this.offset, this.height - this.offset);
				textFont(myFont);
				textSize(16);
				textAlign(CENTER, CENTER);
				fill(0);
				text(this.label, this.x + this.width/2, this.y + this.height/2);
				
			} else {
				
				noTint();
				image(img, this.x + this.offset/2, this.y + this.offset/2, this.width - this.offset, this.height - this.offset);
				// filter(GRAY);
				textFont(myFont_Bold);
				textSize(14);
				textAlign(CENTER, CENTER);
				fill(255);
				text(this.label, this.x + this.width/2, this.y + this.height/2);
			}
		    fill(this.color);
		    noStroke()
		    rect(this.x + this.offset/2, this.y + this.offset/2, this.width - this.offset, this.height - this.offset);
		}

		this.nextTop = function() {
			top_y = this.y
		    return top_y
		}

		this.nextDown = function() {
			down_y = this.y + this.height
		    return down_y
		}

		this.nextRight = function() {
			right_x = this.x + this.width
		    return right_x
		}

		this.nextLeft = function() {
			left_x = this.x
		    return left_x
		}
	}

	// Preloading images and fonts
	function preload() {
	  img[0] = loadImage("{% static 'images/TBR/Resized/129H_resized.jpg' %}");
	  img[1] = loadImage("{% static 'images/TBR/Resized/114H_resized.jpg' %}");
	  img[2] = loadImage("{% static 'images/TBR/Resized/127H_resized.jpg' %}");
	  img[3] = loadImage("{% static 'images/TBR/Resized/335H_resized.jpg' %}");
	  img[4] = loadImage("{% static 'images/TBR/Resized/background-909386_1920_resized.jpg' %}");
	  img[5] = loadImage("{% static 'images/TBR/Resized/162H_resized.jpg' %}");
	  img[6] = loadImage("{% static 'images/TBR/Resized/151H_resized.jpg' %}");
	  img[7] = loadImage("{% static 'images/TBR/Resized/186H_resized.jpg' %}");
	  img[8] = loadImage("{% static 'images/TBR/Resized/231H_resized.jpg' %}");
	  img[9] = loadImage("{% static 'images/TBR/Resized/camera-581126_1920_resized.jpg' %}");
	  img[10] = loadImage("{% static 'images/TBR/Resized/Digital-Marketing-Changed-the-Way-B2B-Market-Functions-696x392_resized.jpg' %}");
	  img[11] = loadImage("{% static 'images/TBR/Resized/dolphins_resized.jpg' %}");
	  img[12] = loadImage("{% static 'images/TBR/Resized/mushroom-1332745_1920_resized.jpg' %}");
	  img[13] = loadImage("{% static 'images/TBR/Resized/public-domain-images-free-stock-photos-001-1000x667_resized.jpg' %}");
	  img[14] = loadImage("{% static 'images/TBR/Resized/public-domain-images-free-stock-photos-002-1000x667_resized.jpg' %}");
	  img[15] = loadImage("{% static 'images/TBR/Resized/padlock-510329_1920_resized.jpg' %}");
	  img[16] = loadImage("{% static 'images/TBR/Resized/public-domain-images-free-stock-photos-alley-ball-bowl-1000x662_resized.jpg' %}");
	  img[17] = loadImage("{% static 'images/TBR/Resized/public-domain-images-free-stock-photos-architecture-black-and-white-building-1000x667_resized.jpg' %}");
	  img[18] = loadImage("{% static 'images/TBR/Resized/old-1130743_1920_resized.jpg' %}");
	  img[19] = loadImage("{% static 'images/TBR/Resized/public-domain-images-free-stock-photos-apple-fruits-iphone-1000x667_resized.jpg' %}");
	  myFont = loadFont("{% static 'fonts/roboto/Roboto-Light.ttf' %}");
	  myFont_Bold = loadFont("{% static 'fonts/roboto/Roboto-Bold.ttf' %}");
	}

	function mousePressed() {
		link('http://www.elpais.com')
	}
	// Callback function for drawing the Mekko once the images are loaded
	function drawMekko(data) {
	  
	  // Declaración e Inicialización de variables 
	  risc_data = data
	  x_index = 0
	  y_index = 0
	  y_perc = zeros([data.length, data[0].data.length])
	  Mekko_width = width
	  Mekko_height = height

	  for (var i = 0; i < data.length; i = i + 1) {
	  	for (var j = 0; j < data[i].data.length; j = j + 1) {
	  		total = total + data[i].data[j].value
	  		x_perc[i] = x_perc[i] + data[i].data[j].value
	  		y_perc[i][j] = data[i].data[j].value //+ y_perc[i][j]
	  	}
	  }
	  // Creación de las Coordenadas y Dimensiones de los elementos del Mekko
	  for (var i = 0; i < data.length; i = i + 1) {
		  	if (i!=0) {

		  		x_index = elements[elements.length-1].nextRight()
		  	}

		  	y_index = 0;
		  	for (var j = 0; j < data[i].data.length; j = j + 1) {
		  		
		  		elements.push(
		  			new MekkoElement(
		  				x_index, 
		  				y_index, 
		  				Mekko_width*x_perc[i]/total, 
		  				Mekko_height*y_perc[i][j]/x_perc[i], 
		  				data[i].data[j].name, 
		  				img[(i*(data.length+1))+j],
		  				i,
		  				60
		  			)
		  		);
		  		y_index = y_index + Mekko_height*y_perc[i][j]/x_perc[i] //elements[elements.length-1].nextDown()
		  	}
	  }
	}

	// Intializer helper
	function zeros(dimensions) {
	    var array = [];

	    for (var i = 0; i < dimensions[0]; ++i) {
	        array.push(dimensions.length == 1 ? 0 : zeros(dimensions.slice(1)));
	    }

	    return array;
	}

	$(document).ready(function(){


	});


</script>
{% endblock alt_js %}